<h2>Personajes</h2>
<hr>
<a href="/razas">
	<img class="img-fluid" src='/images/nav/razas.png' alt='razas'>
</a>

<h3>Personajes iniciales</h3>
<div>
	<a class="list-group-item" href="/personaje/enano">Enano</a>
	<a class="list-group-item" href="/personaje/mago">Mago</a>
	<a class="list-group-item" href="/personaje/elfo">Elfo</a>
	<a class="list-group-item" href="/personaje/bárbaro">Bárbaro</a>
</div>

<h3>Descendientes</h3>
<div class="list-group">
	<a class="list-group-item" href="/personaje/ladrón">Ladrón</a>
	<a class="list-group-item" href="/personaje/clérigo">Clérigo</a>
</div>

<h3>Personajes especiales</h3>
<div class="list-group">
	<a class="list-group-item" href="/personaje/tiefling">Tiefling</a>
	<a class="list-group-item" href="/personaje/rakshasa">Rakshasa</a>
	<a class="list-group-item" href="/personaje/elohim">Elohim</a>
	<a class="list-group-item" href="/personaje/gólem">Gólem</a>
	<a class="list-group-item" href="/personaje/monje">Monje</a>
</div>
