<h2>Engendrando descendencia</h2>
<hr>

<h3>Usar un descendiente</h3>
<p>
	Morir, usar al hijo, herencia, mujeres vs hombre, profesiones, familiares
	y muchos links en este párrafo.
</p>

<h3>Amor entre personajes</h3>
<p>
	Esto explica los corazoncitos y los gemelos
</p>

<h3>Pagar</h3>
<%= erb :'personajes/razas/center/descendencia/pagar' %>

<h3>Tabla de emparejamientos</h3>
<div class="table-responsive">
	<%= erb :'personajes/razas/center/descendencia/tabla' %>
</div>

<div class="alert alert-dark text-left" role="alert">
	<h4 class="alert-heading">
		<i class="fas fa-mars"></i>
		Descendientes enanos
	</h4>
	<p>
		Los enanos solo pueden ser varones. La única enana conocida es
		<a href='/pnj/Luria'>La reina Luria</a>. No obstante, son capaces
		mediante un <strong>procedimiento secreto</strong>,
		de tener descendientes sin emparejarse.
	</p>
	<hr>
	<p class="mb-0">
		A su vez, pueden tener
		descendencia de la forma habitual con otras razas permitidas.
	</p>
</div>
<div class="alert alert-dark text-left" role="alert">
	<h4 class="alert-heading">
		<i class="fas fa-neuter"></i>
		Descendientes gólems
	</h4>
	<p>
		Los gólems son criaturas primigenias y no pueden tener descendientes
		de la forma habitual. Deben crear fragmentos de su núcleo.
	</p>
</div>