<% j = joya(params[:param].to_i) %>

<h2>La joya <%= j.name %></h2>
<hr>
<p>
	<%= slim :"objetos/joyas/descripciones/#{ j.name }" %>
</p>

<h3>Propiedades mágicas</h3>
<p>
	<%= slim :'objetos/joyas/propiedades', locals: { j: j } %>
</p>

<h3>Disponibilidad</h3>
<p>
	<% unless j.disponibles.empty? %>
		<%= slim :'objetos/joyas/disponibilidad', locals: { j: j } %>
	<% else %>
		Ningún héroe posee esta joya.
	<% end %>
</p>