<h2>Elementales</h2>
<div class="panel panel-default">
	<a href='/escuelas'>
		<img class="img-fluid" src='/images/nav/elementales.png' alt='Elementales'>
	</a>
</div>
<hr>
<p>
	Recogen su poder de los vientos elementales de la magia.
	Combinados se definen como <strong>Alta Magia</strong> en su versión armónica,
	o bien <strong>Magia del Caos</strong>, en su versión distorsionada.
</p>

<div class="list-group">
	<a class="list-group-item" href="/hechizos/1">Elementales de nivel 1</a>
	<a class="list-group-item" href="/hechizos/2">Elementales de nivel 2</a>
	<a class="list-group-item" href="/hechizos/3">Elementales de nivel 3</a>
	<a class="list-group-item" href="/hechizos/4">Elementales de nivel 4</a>
</div>