<h2>Elementales</h2>
<hr>
<div class="panel panel-default">
	<a href='/escuelas'>
		<img class="img-fluid"
				 src='/images/nav/elementales.png'
				 alt='Elementales'>
	</a>
</div>
<p>
	Recogen su poder de los vientos elementales de la magia.
	Combinados se definen como <strong>Alta Magia</strong> en su versión armónica,
	o bien <strong>Magia del Caos</strong>, en su versión distorsionada.
</p>

<div class="alert alert-secondary" role="alert">
	<h4>Lista de hechizos</h4>
	<hr>
	<p>Según su nivel:</p>
	<nav aria-label="Hechizos elementales">
		<ul class="pagination justify-content-center">
			<% 4.times do |level| %>
			<li class="page-item">
				<a class="page-link" href="/hechizos/<%= level + 1 %>">
					<%= level + 1 %>
				</a>
			</li>
			<% end %>
		</ul>
	</nav>
</div>