<div class="card">
	<div class="card-header">
		<h4>Enseñanzas</h4>
	</div>

	<a href='/magisters'>
		<img class="card-img-top" src="/images/magia/magisters1.png" alt="Magisters">
	</a>
	
	<ul class="list-group list-group-flush">
		<li class="list-group-item">
			<h5 class="card-title">Nueva Escuela</h5>
			<p class="card-text">
				Permite al aprendiz aprender los secretos de los magisters,
				y girar el sentido del flujo mágico. Podrá escoger 
				los 3 últimos hechizos de un elemento en lugar
				de los 3 primeros.
			</p>
		</li>
		<div class="card-footer text-muted">
			Coste: 100 <i class="fas fa-database text-warning"></i>
		</div>
		<li class="list-group-item">
			<h5 class="card-title">Maestría</h5>
			<p class="card-text">
				Gracias a la comprensión fundamental de los vientos de la magia,
				el aprendiz obtiene +1 de maestría en una única escuela.
			</p>
		</li>
		<div class="card-footer text-muted">
			Coste: 1000 <i class="fas fa-database text-warning"></i>
		</div>
		<li class="list-group-item">
			<h5 class="card-title">Dominium</h5>
			<p class="card-text">
				El aprendiz puede utilizar ambos flujos de los vientos mágicos.
				Podrá escoger 2 sets de magia de la misma escuela.
			</p>
		</li>
		<div class="card-footer text-muted">
			Coste: 1200 <i class="fas fa-database text-warning"></i>
		</div>
	</ul>
</div>
<br>