<div class="card">
	<div class="card-header">
		<h4>Magia Sagrada</h4>
	</div>

	<a href="/plegarias/1">
		<img class="card-img-top" src="/images/nav/sagradas.png" alt="Plegarias">
	</a>
	
	<div class="list-group list-group-flush">
		<a class="list-group-item" href="/elficas">Hechicería Silvana</a>
		<a class="list-group-item" href="/plegarias/1">Plegarias</a>
		<a class="list-group-item" href="/execraciones/1">Execraciones</a>
		<a class="list-group-item" href="/sombra/1">Magia de las Sombras</a>
		<a class="list-group-item" href="/sangre/1">Magia de la Sangre</a>
		<a class="list-group-item" href="/arena/1">Magia de las Arenas</a>
		<a class="list-group-item" href="/hielo/1">Magia de Hielo</a>
	</div>

</div>