<div class="row">
	<% %w(ayuntamiento biblioteca artesanos cuarteles).each do |plaza| %>
	<div class="col-md-3 col-sm-6">
		<div class="panel panel-default">

			<div class="panel-heading">
				<a href="/<%= plaza %>">
					<img class="img-responsive img-hover"
							 src='/images/ciudad/<%= plaza %>.png'
							 alt='<%= plaza %>' />
				</a>
			</div>

			<div class="panel-body">
				<%= erb :"ciudad/plazas/#{plaza}" %>s
			</div>

		</div>
	</div>
	<% end %>
</div>