<h2>Maestro de Armas</h2>
<p>
	Es el maestro de la ciudad. En su academia los aventureros pueden
	perfecionar las técnicas de combate rudimentarias o explorar nuevas
	formas más sutiles de combate
</p>
<h3>Tabla de habilidades</h3>
<%= slim :'ciudad/maestrodearmas_tabla' %>