<h2>Maestros Arcanos</h2>
<hr>
<p class="text-justify">
	Los maestros arcanos son los nuevos profesores de las artes arcanas,
	venidos desde los lejanos mundo del Sur, mediante las arenas del tiempo.
	Debido a esta situación, no queriendo desprenderse de los tesoros
	traídos de épocas lejanas para pagar sus costes, se ven forzados a enseñar
	los enigmáticos conocimientos a los usuarios de la magia dispuestos
	a pagar por sus servicios.
</p>

<h3>Catálogo de enseñanzas</h3>
<%= slim :'ciudad/magister_tabla' %>