<% profesion = profesions.find { |p| p.name == params[:param] } %>
<% grados.each do |grado| %>
	<h3>Recetas de <%= grado %> de <%= profesion.name %></h3>
	<hr>
	<%= slim :"ciudad/profesiones/gradotabla", locals: { 
		prof: profesion, grado: grado } %>
<% end %>