# Default permission
sudo: false

# Ruby configuration, using RVM
language: ruby
rvm:
  - 2.4.3
before_install:
  - gem install bundler --no-document -v '~> 1.16.0'
  # Sinatra gem is loaded from github, instead of rubygems:
  - bundle config github.https true

# Main test usging bundler (not working)
script:
  - bundle install --path vendor/bundle
  - bundle exec rspec test.rb

# Code Metrics tokens
addons:
  code_climate:
    repo_token: 0d489bf5520c78ac08ce9c7925f6c5f477047967bf42ec4fe84fcf2a02be53f4

# Git properties
git:
  depth: 2

# Whitelisted (Safe)
branches:
  only:
    - master

# Excluded (Block)
branches:
  except:
    - gh-pages