# Default permission
sudo: false

env:
  # Code Coverage
  global:
    - CC_TEST_REPORTER_ID=0d489bf5520c78ac08ce9c7925f6c5f477047967bf42ec4fe84fcf2a02be53f4

# Ruby configuration, using RVM
language: ruby
rvm:
  - 2.5.3
before_install:
  - gem install bundler --no-document -v '~> 1.16.6'
  # Sinatra gem is loaded from github, instead of rubygems:
  - bundle config github.https true

# Main test usging bundler (not working)
script:
  - bundle install --path vendor/bundle
  - bundle exec rspec test.rb

after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT

# Code Metrics tokens
addons:
  code_climate:
    repo_token: 0d489bf5520c78ac08ce9c7925f6c5f477047967bf42ec4fe84fcf2a02be53f4

# Git properties
git:
  depth: 2

# Whitelisted (Safe)
branches:
  only:
    - master

# Excluded (Block)
branches:
  except:
    - gh-pages
