<a href="/city/Jadessvärd" class="dropdown-toggle" data-toggle="dropdown">
	<i class="fa fa-map-signs fa-fw" aria-hidden="true"></i>
	Ciudad
	<b class="caret"></b>
</a>

<ul class="dropdown-menu">
	<li><a href="/mapa">
		<i class="fa fa-map-o fa-fw" aria-hidden="true"></i>
		Mapa del Viejo Mundo
	</a></li>
	<li class="divider"></li>
	<li><a href="/city/Jadessvärd">
		<i class="fa fa-flag fa-fw" aria-hidden="true"></i>
		La ciudad de Jadessvärd
	</a></li>
	<li class="divider"></li>
	<li><a href="/pnj/Magnus">
		<span class="glyphicon glyphicon-king"></span>
		Personajes Ilustres
	</a></li>
	<li class="divider"></li>
	<li><a href="/torre">
		<span class="glyphicon glyphicon-tower"></span>
		La torre de Magia
	</a></li>
	<li class="divider"></li>
	<li><a href="/monturas">
		<span class="glyphicon glyphicon-knight"></span>
		Reglas sobre monturas
	</a></li>
</ul>