<a class="nav-link dropdown-toggle" href="/city/Jadessvärd"
	 id="navbarDropdownPortfolio" data-toggle="dropdown"
	 aria-haspopup="true" aria-expanded="false">
	<i class="fa fa-map-signs fa-fw" aria-hidden="true"></i>
	Ciudad
</a>

<div class="dropdown-menu dropdown-menu-right"
		 aria-labelledby="navbarDropdownPortfolio">
	<a class="dropdown-item" href="/mapa">
		<i class="far fa-map fa-fw" aria-hidden="true"></i>
		Mapa del Viejo Mundo
	</a>
	<a class="dropdown-item" href="/city/Jadessvärd">
		<i class="fa fa-flag fa-fw" aria-hidden="true"></i>
		La ciudad de Jadessvärd
	</a>
	<a class="dropdown-item" href="/pnj/Magnus">
		<i class="fas fa-chess-king fa-fw" aria-hidden="true"></i>
		Personajes Ilustres
	</a>
	<a class="dropdown-item" href="/torre">
		<i class="fas fa-chess-rook fa-fw" aria-hidden="true"></i>
		La torre de Magia
	</a>
	<a class="dropdown-item" href="/monturas">
		<i class="fab fa-sticker-mule fa-fw"></i>
		Reglas sobre monturas
	</a>
</div>