a class="nav-link dropdown-toggle" href="/city/Jadessvärd" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
	i class="fa fa-map-signs fa-fw" aria-hidden="true"
	| Ciudad

div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio"
	a class="dropdown-item" href="/mapa"
		i class="far fa-map fa-fw" aria-hidden="true"
		| Mapa del Viejo Mundo
	
	a class="dropdown-item" href="/city/Jadessvärd"
		i class="fa fa-flag fa-fw" aria-hidden="true"
		| La ciudad de Jadessvärd
	
	a class="dropdown-item" href="/pnj/Magnus"
		i class="fas fa-chess-king fa-fw" aria-hidden="true"
		| Personajes Ilustres
	
	a class="dropdown-item" href="/torre"
		i class="fas fa-chess-rook fa-fw" aria-hidden="true"
		| La torre de Magia
	
	a class="dropdown-item" href="/monturas"
		i class="fab fa-sticker-mule fa-fw"
		| Reglas sobre monturas