<a class="nav-link dropdown-toggle" href="/heroes"
	 id="navbarDropdownPortfolio" data-toggle="dropdown"
	 aria-haspopup="true" aria-expanded="false">
	<i class="fa fa-users fa-fw" aria-hidden="true"></i>
	Héroes
</a>

<div class="dropdown-menu dropdown-menu-right"
		 aria-labelledby="navbarDropdownPortfolio">
	<a class="dropdown-item" href="/heroes">Activos</a>
	<a class="dropdown-item" href="/ausentes">Ermitaños</a>
	<a class="dropdown-item" href="/reservistas">Reservistas</a>
	<a class="dropdown-item" href="/mapa">Extranjeros</a>
	<a class="dropdown-item" href="/licenciados">Licenciados</a>
</div>