<a href="/heroes" class="dropdown-toggle" data-toggle="dropdown">
	<i class="fa fa-users fa-fw" aria-hidden="true"></i>
	Héroes
	<b class="caret"></b>
</a>

<ul class="dropdown-menu">
	<li><a href="/heroes">Activos</a></li>
	<li class="divider"></li>
	<li><a href="/ausentes">Ermitaños</a></li>
	<li class="divider"></li>
	<li><a href="/reservistas">Reservistas</a></li>
	<li class="divider"></li>
	<li><a href="/mapa">Extranjeros</a></li>
	<li class="divider"></li>
	<li><a href="/licenciados">Licenciados</a></li>
</ul>