<a class="nav-link dropdown-toggle" href="/magia"
	 id="navbarDropdownPortfolio" data-toggle="dropdown"
	 aria-haspopup="true" aria-expanded="false">
	<i class="fa fa-fire fa-fw" aria-hidden="true"></i>
	Magia
</a>

<div class="dropdown-menu dropdown-menu-right"
		 aria-labelledby="navbarDropdownPortfolio">

	<div class="dropdown-header">Reglamentos</div>
	<a class="dropdown-item" href="/magia">
		<i class="fa fa-mercury fa-fw" aria-hidden="true"></i>
		Reglas básicas
	</a>
	<a class="dropdown-item" href="/tipos">
		<i class="fa fa-fire fa-fw" aria-hidden="true"></i>
		Tipos de hechizo
	</a>
	<a class="dropdown-item" href="/escuelas">
		<i class="fa fa-university fa-fw" aria-hidden="true"></i>
		Escuelas de magia
	</a>
	<a class="dropdown-item" href="/magister">
		<i class="fab fa-rebel fa-fw" aria-hidden="true"></i>
		Maestro arcano
	</a>

	<div class="dropdown-divider"></div>
	<div class="dropdown-header">Lore y trasfondo</div>
	<a class="dropdown-item" href="/vientos">
		<i class="fa fa-bolt fa-fw" aria-hidden="true"></i>
		El poder mágico
	</a>
	<a class="dropdown-item" href="/historiamagia">
		<i class="fa fa-book fa-fw" aria-hidden="true"></i>
		Historia de la magia
	</a>
	<a class="dropdown-item" href="/magisters">
		<i class="fa fa-hourglass fa-fw" aria-hidden="true"></i>
		Magisters
	</a>
</div>