<a href="/magia" class="dropdown-toggle" data-toggle="dropdown">
	<span class="glyphicon glyphicon-fire"></span>
	Magia
	<b class="caret"></b>
</a>

<ul class="dropdown-menu">
	<li><a href="/magia">
		<i class="fa fa-mercury fa-fw" aria-hidden="true"></i>
		Reglas básicas
	</a></li>
	<li class="divider"></li>
	<li><a href="/tipos">
		<i class="fa fa-fire fa-fw" aria-hidden="true"></i>
		Tipos de hechizo
	</a></li>
	<li class="divider"></li>
	<li><a href="/escuelas">
		<i class="fa fa-university fa-fw" aria-hidden="true"></i>
		Escuelas de magia
	</a></li>
	<li class="divider"></li>
	<li><a href="/vientos">
		<i class="fa fa-bolt fa-fw" aria-hidden="true"></i>
		El poder mágico
	</a></li>
	<li class="divider"></li>
	<li><a href="/historiamagia">
		<i class="fa fa-book fa-fw" aria-hidden="true"></i>
		Historia de la magia
	</a></li>
	<li class="divider"></li>
	<li><a href="/magisters">
		<i class="fa fa-hourglass fa-fw" aria-hidden="true"></i>
		Magisters
	</a></li>
	<li class="divider"></li>
	<li><a href="/magister">
		<i class="fa fa-rebel fa-fw" aria-hidden="true"></i>
		Maestro arcano
	</a></li>
</ul>