a class="nav-link dropdown-toggle" href="/magia" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
	i class="fa fa-fire fa-fw" aria-hidden="true"
	| Magia

div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio"

	.dropdown-header Reglamentos

	a class="dropdown-item" href="/magia"
		i class="fa fa-mercury fa-fw" aria-hidden="true"
		| Reglas básicas
	
	a class="dropdown-item" href="/tipos"
		i class="fa fa-fire fa-fw" aria-hidden="true"
		| Tipos de hechizo
	
	a class="dropdown-item" href="/escuelas"
		i class="fa fa-university fa-fw" aria-hidden="true"
		| Escuelas de magia
	
	a class="dropdown-item" href="/magister"
		i class="fab fa-rebel fa-fw" aria-hidden="true"
		| Maestro arcano

	.dropdown-divider

	.dropdown-header Lore y trasfondo

	a class="dropdown-item" href="/vientos"
		i class="fa fa-bolt fa-fw" aria-hidden="true"
		| El poder mágico
	
	a class="dropdown-item" href="/historiamagia"
		i class="fa fa-book fa-fw" aria-hidden="true"
		| Historia de la magia
	
	a class="dropdown-item" href="/magisters"
		i class="fa fa-hourglass fa-fw" aria-hidden="true"
		| Magisters