a class="nav-link dropdown-toggle" href="/manuales" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
	i class="fa fa-book fa-fw" aria-hidden="true"
	| Manuales

div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio"

	.dropdown-header Reglamentos

	a class="dropdown-item" href="/manuales"
		i class="fa fa-book fa-fw" aria-hidden="true"
		| Reglamento principal
	
	a class="dropdown-item" href="/combate"
		i class="fas fa-shield-alt fa-fw" aria-hidden="true"
		| Reglas del combate
	
	a class="dropdown-item" href="/objetos"
		i class="fa fa-key fa-fw" aria-hidden="true"
		| Sobre los Objetos
	
	a class="dropdown-item" href="/criaturas"
		i class="fa fa-paw fa-fw" aria-hidden="true"
		| Bestiario

	.dropdown-divider

	.dropdown-header Personajes
	
	a class="dropdown-item" href="/personajes"
		i class="far fa-address-book fa-fw" aria-hidden="true"
		| Sobre los Personajes
	
	a class="dropdown-item" href="/habilidades"
		i class="fas fa-sort-numeric-down fa-fw" aria-hidden="true"
		| Sobre las Habilidades
	
	a class="dropdown-item" href="/profesiones"
		i class="fa fa-flask fa-fw" aria-hidden="true"
		| Profesiones