<a href="/manuales" class="dropdown-toggle" data-toggle="dropdown">
	<i class="fa fa-book fa-fw" aria-hidden="true"></i>
	Manuales
	<b class="caret"></b>
</a>

<ul class="dropdown-menu">
	<li><a href="/manuales">
		<i class="fa fa-book fa-fw" aria-hidden="true"></i>
		Reglamento principal
	</a></li>
	<li class="divider"></li>
	<li><a href="/combate">
		<i class="fa fa-shield fa-fw" aria-hidden="true"></i>
		Reglas del combate
	</a></li>
	<li class="divider"></li>
	<li><a href="/objetos">
		<i class="fa fa-key fa-fw" aria-hidden="true"></i>
		Sobre los Objetos
	</a></li>
	<li class="divider"></li>
	<li><a href="/criaturas">
		<i class="fa fa-paw fa-fw" aria-hidden="true"></i>
		Bestiario
	</a></li>
	<li class="divider"></li>
	<li><a href="/personajes">
		<i class="fa fa-address-book-o fa-fw" aria-hidden="true"></i>
		Sobre los Personajes
	</a></li>
	<li class="divider"></li>
	<li><a href="/habilidades">
		<i class="fa fa-sort-numeric-asc fa-fw" aria-hidden="true"></i>
		Sobre las Habilidades
	</a></li>
	<li class="divider"></li>
	<li><a href="/profesiones">
		<i class="fa fa-flask fa-fw" aria-hidden="true"></i>
		Profesiones
	</a></li>
	<li class="divider"></li>
	<li><a href="/habilidades">
		<span class="glyphicon glyphicon-fire"></span>
		Sobre la magia
	</a></li>
</ul>