/!-- Brand and toggle get grouped for better mobile display --
a class="navbar-brand" href="/" == title
button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
	span class="navbar-toggler-icon"