a class="nav-link dropdown-toggle" href="/objetos" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
	i class="fas fa-shield-alt fa-fw" aria-hidden="true"
	| Objetos

div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio"
	a class="dropdown-item" href="/objetos"
		i class="fa fa-book fa-fw" aria-hidden="true"
		| Reglas básicas
	
	.dropdown-divider

	.dropdown-header
	 | Herrería

	a class="dropdown-item" href="/armas"
		i class="fas fa-gavel fa-fw" aria-hidden="true"
		| Armas
	
	a class="dropdown-item" href="/armaduras"
		i class="fa fa-calendar fa-fw" aria-hidden="true"
		| Armaduras
	
	a class="dropdown-item" href="/protecciones"
		i class="fab fa-pied-piper fa-fw" aria-hidden="true"
		| Protecciones

	.dropdown-divider

	.dropdown-header Orfebre

	a class="dropdown-item" href="/miscelaneas"
		i class="fa fa-link fa-fw" aria-hidden="true"
		| Bisutería
	
	a class="dropdown-item" href="/gemas"
		i class="far fa-gem fa-fw" aria-hidden="true"
		| Gemas
	
	a class="dropdown-item" href="/runas"
		i class="fas fa-shekel-sign fa-fw" aria-hidden="true"
		| Runas

	a class="dropdown-item" href="/joyas"
		i class="fab fa-joomla fa-fw" aria-hidden="true"
		| Joyas

	a class="dropdown-item" href="/calculador"
		i class="fa fa-calculator fa-fw" aria-hidden="true"
		| Calculadora

	.dropdown-divider

	.dropdown-header Artesanos

	a class="dropdown-item" href="/pociones"
		i class="fa fa-flask fa-fw" aria-hidden="true"
		| Pociones
	
	a class="dropdown-item" href="/piezas"
		i class="fas fa-wrench fa-fw"
		| Enseres y piezas
	
	a class="dropdown-item" href="/pociones"
		i class="fas fa-vial fa-fw"
		| Materiales