<a class="nav-link dropdown-toggle" href="/objetos"
	 id="navbarDropdownPortfolio" data-toggle="dropdown"
	 aria-haspopup="true" aria-expanded="false">
	<i class="fas fa-shield-alt fa-fw" aria-hidden="true"></i>
	Objetos
</a>

<div class="dropdown-menu dropdown-menu-right"
		 aria-labelledby="navbarDropdownPortfolio">
	<a class="dropdown-item" href="/objetos">
		<i class="fa fa-book fa-fw" aria-hidden="true"></i>
		Reglas básicas
	</a>
	<a class="dropdown-item" href="/armas">
		<i class="fas fa-gavel fa-fw" aria-hidden="true"></i>
		Armas
	</a>
	<a class="dropdown-item" href="/armaduras">
		<i class="fa fa-calendar fa-fw" aria-hidden="true"></i>
		Armaduras
	</a>
	<a class="dropdown-item" href="/protecciones">
		<i class="fab fa-pied-piper fa-fw" aria-hidden="true"></i>
		Protecciones
	</a>
	<a class="dropdown-item" href="/miscelaneas">
		<i class="fa fa-link fa-fw" aria-hidden="true"></i>
		Bisutería
	</a>
	<a class="dropdown-item" href="/gemas">
		<i class="far fa-gem fa-fw" aria-hidden="true"></i>
		Gemas
	</a>
	<a class="dropdown-item" href="/runas">
		<i class="fa fa-ils fa-fw" aria-hidden="true"></i>
		Runas</a>
	<a class="dropdown-item" href="/joyas">
		<i class="fab fa-joomla fa-fw" aria-hidden="true"></i>
		Joyas</a>
	<a class="dropdown-item" href="/pociones">
		<i class="fa fa-flask fa-fw" aria-hidden="true"></i>
		Pociones
	</a>
	<a class="dropdown-item" href="/calculador">
		<i class="fa fa-calculator fa-fw" aria-hidden="true"></i>
		Calculadora
	</a>
</div>