<div class="panel-heading">
		<h4>
			<i class="fa fa-fw fa-book"></i>
			Manuales de Juego
		</h4>
</div>

<div class="panel-body">
		<p>
			<ul>
				<li>Tiradas aleatorias de Tesoro</li>
				<li>Tiradas aleatorias de combate</li>
				<li>Estados de combate y resistencias</li>
				<li>Bestiario de criaturas del juego</li>
				<li>Personajes, habilidades y poderes</li>
			</ul>
		</p>
		<a href="/manuales" class="btn btn-default">Leer más</a>
</div>