<header>
	<h1>Oops, he pulsado la tecla que no es</h1>
</header>
<p>
	Con dramáticas consecuencias.<br/>
	Por lo visto...
</p>
<br/>
 <img src="http://www.gucomics.com/comics/2011/gu_20110808.jpg"
			alt="coward mage" style="width:401px;height:301px;">