<h1 class="my-4">
	Web amateur del juego de mesa HeroQuest
</h1>

<div class="row">
	<% %w(torre habilidades lore objetos).each do |feature| %>
		<div class="col-lg-3 mb-3">
			<div class="card h-100">
				<%= slim :"inicio/features/#{feature}" %>
			</div>
		</div>
	<% end %>
</div>

<div class="row">
	<% %w(ciudad manuales ilustres).each do |lore| %>
		<div class="col-md-4">
			<div class="card h-100">
				<%= slim :"inicio/lore/#{lore}" %>
			</div>
		</div>
	<% end %>
</div>

<hr>

<div class="row mb-4">
	<div class="col-md-8">
		<p>
			¿Alguna vez has pensado cómo sería luchar en el otro bando?
			Hemos implementado una sección exclusiva para el juego
			<strong>RevengeQuest</strong>. Si quieres descubrir cómo
			funciona, solamente tienes que pulsar el botón de la venganza.
		</p>
	</div>
	<div class="col-md-4">
		<a href="/revenge" class="btn btn-lg btn-secondary btn-block">
			<i class="fab fa-grunt"></i>
			¡Venganza!
		</a>
	</div>
</div>