<h1 class="my-4">
	Web amateur del juego de mesa HeroQuest
</h1>

<div class="row">
	<% %w(torre habilidades lore objetos).each do |feature| %>
		<div class="col-lg-3 mb-3">
			<div class="card h-100">
				<%= slim :"inicio/features/#{feature}" %>
			</div>
		</div>
	<% end %>
</div>

<div class="row">
	<% %w(ciudad manuales ilustres).each do |lore| %>
		<div class="col-md-4">
			<div class="card h-100">
				<%= slim :"inicio/lore/#{lore}" %>
			</div>
		</div>
	<% end %>
</div>