<form action='/login/attempt' method='post' class="form-inline well">
  <input type="text" name='username' placeholder="usuario" autofocus>
  <input type='submit'class="btn btn-primary" value='Acceder'>
</form>