<div class="table-responsive">
	<table class='table'>
		<thead>
			<tr>
				<th class="text-center">Estado</th>
				<th class="text-center">Efecto</th>
			</tr>
		</thead>
		<tbody>
			<% estados.each do |e| %>
				<tr>
					<td><%= e['nombre'] %></td>
					<td><%= e['efecto'] %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>