h2 Reglas básicas

h3 Potencia y fuerza de ataque
| La potencia de ataque es el número de éxitos necesarios para poder defender 
| con éxito los éxitos de ataque. Por ejemplo, 1 éxito de ataque de potencia 2, 
| deberá ser defendido con 2 éxitos de defensa. Por otro lado la fuerza, 
| es el número de daños que causa cada éxito no defendido. Por ejemplo, 
| 3 éxitos de fuerza 2, que no hayan sido defendidos causarían: 6 daños.

h3 Potencia, bloqueo y protección de defensa
| La potencia de defensa es el número de éxitos que al defender, anulan 
| éxitos de la tirada de ataque. Por ejemplo, un éxito de potencia 2, 
| anularía 2 éxitos de ataque. Por otro lado, la protección, reduce en 1, 
| la fuerza de los éxitos de ataque. Por ejemplo, 3 éxitos de fuerza 4 
| que causarían 12 daños, en caso de tener protección 2, causarían 6. 
| El bloqueo sin embargo, reduce en 1 cada daño total recibido. Por ejemplo, 
| si recibimos un daño de 3 éxitos de fuerza 2, en caso de tener bloqueo 2,
| recibiríamos 4 daños.

h3 Combinando bonificadores
| En primer lugar deberá ser el defensor quién decida cómo empareja los éxitos 
| defensivos con los de ataque (y no al revés). Después, podrá emparejar 
| dados de potencias equivalentes o (salvo que se trate de ataque verdadero) 
| agrupar potencias menores con mayores, siempre que alcance la suma
| de potencias de ataque. Ejemplo: Si un jugador ataca con 3 éxitos 
| de potencia 3, y el defensor defiende con 2 dados de potencia 4, como mucho
| podrá asignar cada éxito de defensa a un dado de ataque.

h3 Ataque en conjunto
| Atacar en conjunto obliga al objetivo a tirar una sola vez defensa 
| para todo el conjunto de éxitos de ataque. Salvo excepciones, no se puede 
| realizar ataque en conjunto con armas de distancia ni arrojadizas.

h3 Ataque y defensa verdadera
| Por hacer