<div class="table-responsive">
	<table class='table'>
		<thead>
			<tr>
				<th/>
				<th class="text-center">Resistencia</th>
				<th class="text-center">Descripción</th>
			</tr>
		</thead>
		<tbody>
			<% resistencias.each do |r| %>
				<tr>
					<td>
						<img src="/images/elements/<%= r['nombre'] %>.png" id='icon'/>
					</td>
					<td><%= r['nombre'] %></td>
					<td><%= r['description'] %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>