<div class="panel-heading">
		<h4>
			<i class="fa fa-star"></i>
			Personajes Ilustres
		</h4>
</div>

<div class="panel-body">
	<img src="images//inicio/contents/magnus.jpg">
	<p class="text-right"><i>"Bastará el honor de servir"</i></p>
	<p class="text-right"><b>Magnus III, el Emperador</b></p>
	<hr/>
	<img src="images//inicio/contents/mentor.jpg">
	<p class="text-right"><i>"No te olvides de volver con vida"</i></p>
	<p class="text-right"><b>Mentor, tutor de aventureros</b></p>
	<hr/>
	<img src="images//inicio/contents/luria.jpg">
	<p class="text-right"><i>"¡Svärd ufd arthruax Luria!"</i></p>
	<p class="text-right"><b>Luria BattleAxe, reina de Obsidiana</b></p>
</div>