<h4>La creación de los dragones</h4>
<p>
	Cuando el Creador del Universo encomendó a los Elohim crear a los pueblos
	que habitarían el Mundo, eligió a unas bestias reptilianas como los
	protectores de la creación, temeroso de que los Elohim pudieran fallar
	en la tarea. Recopiló todas las esencias primigenias de la creación
	y otorgó a los dragones la capacidad de asumirlas. Por este motivo,
	los dragones son capaces de adoptar cualquier forma humanoide, y permanecer
	con la forma que deseen, tanto tiempo como quieran.
</p>
<p>
	Una vez fueron bendecidos, dotó a los dragones de una magia primordial,
	capaz de resistir el milagro que los Elohim obrarían: <i>la vida</i>.
</p>
<p>
	Así pues, cuando la supernova vital que inundó el mundo generó el alzamiento
	de los pueblos (elfos, enanos, hombres, etc...) los dragones ya sabían
	que su destino estaría ligado a los pueblos libres. Al contrario que los
	Elohim, ellos no olividaron el propósito con el que fueron bendecidos.
</p>

<h4>El declive de los dragones</h4>
<p>
	Pero el destino del Mundo se torció cuando el huracán de los vientos
	de la magia estalló. Los dragones, buscaron refugio en el interior de
	sus santuarios, y en función del éxito de su empeño, su espíritu,
	mutó hasta convertirse en lo que hoy en día conocemos como "dragón".
</p>
<p>
	Aquellos dragones que pudieron refugiarse debajo del cielo, en las madrigueras
	subterráneas, se mezclaron con los metales de la tierra, y la energía
	primordial se fundió con la primigenia del núcleo magnético, creando los
	dragones metálicos, cuyo alineamiento es bueno por naturaleza.
</p>
<p>
	Aquellos que no pudieron refugiarse durante el vendaval, fueron irradiados
	con los vientos caóticos, enloqueciendo, olvidando (quizás) su verdadero
	propósito, y sirviendo al Mal Verdadero. Esta transformación, llenó de color
	mate sus cuerpos escamosos, dando lugar a los temibles dragones cromáticos.
</p>
<p>
	Finalmente, algunos dragones buscaron refugios alternativos y quedaron
	parcialmente expuestos. Son los conocidos como dragones gema. Dependiendo
	del lugar, la exposición fue parcial y la esencia mutó en diferentes gemas.
	Por ejemplo los dragones de jade, refugiados en los bosques, eligieron
	servir al cubil que los protegió, siendo los guardianes más temibles
	de sus forestas. Los dragones zafiro de igual manera, protegen las islas,
	y así con cada tonalidad asumida.
</p>