<p>
	Los elementales son criaturas creadas a través de la energía mágica
	modelada con el deseo de su invocador. Generalmente, el invocador,
	es un mago con conocimientos profundos en el arte de la invocación,
	aunque en otras ocasiones, algunos efectos de carácter sociológico
	o religioso, pueden crear elementales.
</p>
<p>
	Existen tantos elementales como elementos mágicos, y prácticamente
	todas las escuelas proseen el suyo propio. Algunos elementales,
	como los constructos, son amalgamas de objetos menores, habitualmente
	al alcance del mago que los invocó. (Ej. conjuntos de libros,
	armaduras completas o incluso un simple baúl...)
</p>