<p>
	Los fragmentados son unas criaturas que poseen una mente colmena;
	lo que piensa uno lo piensan todos, el objetivo de uno
	es el objetivo de todos. Físicamente son muy similares:
	poseen un cuerpo alargado vertebrado, como el de una serpiente;
	una larga cola bífida, más parecida a un látigo;
	un único brazo delantero acabado en una afilada cuchilla;
	una cabeza con una cresta armada y un duro y potente pico
	(aunque existen algunos fragmentados cuyas características especiales
	les hacen diferir físicamente del resto de la colmena,
	como el Fragmentado bicéfalo).
</p>
<p>
	Individualmente no son depredadores muy peligrosos
	pero en grandes grupos se pueden convertir en seres imparables
	ya que tienen la increíble capacidad de compartir sus atributos
	y habilidades entre ellos. Al contrario de la creencia popular
	un fragmentados no trasmite sus habilidades características
	a otros fragmentados cercanos sino que cada fragmentado tiene,
	además su habilidad especial innata, la capacidad de absorber
	las capacidades especiales de sus congéneres.
</p>