<h2>Las <%= total_razas %> razas</h2>
<hr>

<a href="/razas">
	<img src="/images/nav/razas.png" class="img-fluid" alt="razas">
</a>

<h3>Razas Iniciales</h3>
<div class="list-group">
<a class="list-group-item" href="/raza/enanos">Enanos</a>
<a class="list-group-item" href="/raza/humanos">Humanos</a>
<a class="list-group-item" href="/raza/elfos">Elfos</a>
</div>

<hr>

<h3>Razas Especiales</h3>
<div class="list-group">
	<a class="list-group-item" href="/raza/tieflings">Tieflings</a>
	<a class="list-group-item" href="/raza/rakshasas">Rakshasas</a>
	<a class="list-group-item" href="/raza/elohims">Elohim</a>
	<a class="list-group-item" href="/raza/gólems">Gólems</a>
</div>