<div class="card">
	<div class="card-header">
		<h4>Las <%= total_razas %> razas</h4>
	</div>
	
	<a href="/razas">
		<img class="card-img-top" src="/images/nav/razas.png" alt="razas">
	</a>
	
	<div class="card-body">
		<h5 class="card-title">Razas iniciales</h5>
	</div>
	<div class="list-group list-group-flush">
		<a class="list-group-item" href="/raza/enanos">Enanos</a>
		<a class="list-group-item" href="/raza/humanos">Humanos</a>
		<a class="list-group-item" href="/raza/elfos">Elfos</a>
	</div>

	<div class="card-body">		
		<h5 class="card-title">Razas especiales</h5>
	</div>
	<div class="list-group list-group-flush">
		<a class="list-group-item" href="/raza/tieflings">Tieflings</a>
		<a class="list-group-item" href="/raza/rakshasas">Rakshasas</a>
		<a class="list-group-item" href="/raza/elohims">Elohim</a>
		<a class="list-group-item" href="/raza/gólems">Gólems</a>
	</div>

</div>