<h2>El Tarot Maldito</h2>
<hr>
<p>
	<a href="/tarot">
		<img src="/images/items/tarot.png" alt='Tarot Maligno' class="img-fluid">
	</a>
	<div>
		<a href='/tarot' class="btn btn-block btn-outline-dark">
			<i class="fas fa-random"></i>
			Barajar el tarot
		</a>
	</div>
</p>