.table-responsive
	table class="table"
		thead
			tr
				th class="text-center" Rango
				th class="text-center" Visibilidad
				th class="text-center" Efecto
		tbody
				tr
					td 1
					td Sí
					td El personaje no puede ser empujado
				tr
					td 2
					td Sí
					td El personaje puede atravesar casillas ocupadas
				tr
					td 3
					td No
					td El personaje no podrá ser atacado (invisible)
				tr
					td 4
					td No
					td Rango legendario: +2 dificultad para ser encontrado