<h2>Borin</h2>
<hr>
<p class="text-justify">
	Borin ha sido el forjador de <a href="/armaduras">armaduras</a> más notable
	de todos los Tiempos. Gracias a su insuperable
	<strong>Armadura de Borin</strong>, su talento como herrero ha
	traspasado las fronteras de su <a href="/clan/La corte de Obsidiana">clan</a>
	y su fama es mundialmente conocida. Sin embargo, su longeva vida ha
	estado plagada de vicisitudes y dramas.
</p>
<h3>
	La Forja Negra
	<small class="font-italic">(Grungron Kol)</small>
</h3>
<p class="text-justify">
	Borin nació y se crió en el interior de la Montaña Svärd, en el seno
	del <a href="/clan/La corte de Obsidiana">clan de Obsidiana</a>,
	bajo el liderazgo de <strong>Strogh Battleaxe</strong>. Strogh era
	un líder implacable. En la primera incursión del Caos contra la montaña,
	ordenó a su pueblo que levantara una barricada de escudos 
	(<i>Thrung</i>) para resistir la carga de los horrores rosas.
	Cuando la batalla cesó, los enanos salieron victoriosos, 
	pero a un altísimo precio. Mientras que los verdaderos enemigos,
	los brujos del Caos, seguían tejiendo poderosos hechizos,
	los enanos a duras penas podían resistir.
</p>
<p class="text-justify">
	El rey de la montaña, intentó recuperar los cuerpos. Costó algunas vidas,
	de enanos valientes, pero salvaron el metal negro y obtuvieron algo
	muy valioso en la guerra: información. Las armaduras del enemigo,
	estaban fraguadas mediante runas malvadas. Cada runa confería al guerrero
	las habilidades del combate necesarias para poder plantar cara a un
	montón de enanos dispuestos a morir por su patria.
</p>
<p class="text-justify">
	<a href="/runas">Runas de guerra</a>, runas de muerte. Borin estudió
	las armaduras, y junto con el clan de <strong>maestros de las runas</strong>,
	creó una doble helicoidal de hilos de obsidiana negra y
	<strong>mithril</strong>. La doble hélice fue hilada con runas poderosas,
	de modo que cada nudo, cada escama tallada, combinarían su poder
	para generar una armadura perfecta.
</p>
<p class="text-justify">
	Todo parecía encajar. Pero la magia del Caos, es impredecible. Mientras
	el rey Svïrf "Dragon de oro" (rey de los 
	<a href="/clan/Enanos de las colinas">enanos de las colinas</a>)
	firmaba el <strong>Pacto de los pueblos libres</strong> contra la
	supremacía que reclamaba el Caos, los Battleaxe guerreaban. No era momento
	de firmas. ¡Era momento de luchar!
</p>
<p class="text-justify">
	No obstante, el clan Obsidiana trabajaba con prisas. Forja y prisas son malos
	compañeros de viaje. Y desde luego, juntarlo todo con una nueva tecnología
	de soldadura y magia, no parece la mejor idea. Borin agarró su martillo,
	golpeándolo contra la <strong>Forja Negra</strong>, el corazón de la fragua
	de su clan. Y entonces, sucedió el milagro. 48 horas después, envuelto
	en sudor y con la barba completamente negra por el residuo de la magia
	de sombras y el hollín, Borin presento la armadura al rey Strogh.
</p>
<p class="text-justify">
	Y así empezó todo. Los Battleaxe, comenzaron a fabricar varias piezas
	de sus legendarias armaduras, para los guerreros más diestros.
	Y en su entusiasmo, incluso hicieron retroceder al Caos.
</p>
<p class="text-justify">
	Pocos conocían el secreto. Pero el alma de Borin estaba magullada.
	Cada golpe de martillo, quebraba su alma. Cada filigrana del estilete
	trenzador, era un nudo sobre la cordura del pueblo Obsidiana. Todo
	lo que pudo hacer Borin, es dejarse llevar por el sentiemiento de salvar
	a sus camaradas. Era el precio que se cobraba la <strong>Forja Negra</strong>.
	Un precio de almas, de perdición.
</p>

<h3>
	La traición imperial
	(<small class="font-italic">Svärd Dreng Tromm)</small>
</h3>
<p class="text-justify">
	A pesar de la aparente victoria, su triunfo quedó eclipsado. El Caos,
	aprovechando el avance enano, se retorció desde su interior, permitiendo
	a los Battleaxe tomar más posiciones que las que su línea de abastecimiento
	podía permitirse. Borin tuvo que abandonar la fragua, para seguir a su pueblo
	hacia el Norte, hacia el territorio enemigo.
</p>
<p class="text-justify">
	Y entonces, su clan sucumbió. Presos de la maldad de las tierras que invadían,
	de los conjuros y engaños de los brujos del Caos, los enanos Obsidiana,
	rindieron pleitesía a los <strong>Poderes Oscuros</strong>. Las armaduras,
	no solamente eran inútiles contra la Maldad del Caos, además habían
	fracturado la tenacidad innata de los enanos para resistirla. Uno tras otro,
	los diferentes señores de Obsidiana fueron cayendo.
</p>
<p class="text-justify">
	Es por esto, que los enanos de las colinas entraron en guerra por la Montaña.
	El rey Svïrf, tomó la montaña casi sin problemas, auspiciado por las tropas
	imperiales. Tras su conquista, en teoría sobre las fuerzas del Caos,
	rindió pleitesía al Emperador.
</p>
<p class="text-justify">
	Y así fue como se perdió Svärd, y con ella la <strong>Forja Negra</strong>,
	pues los prudentes enanos de las colinas no deseaban cometer el mismo error.
	Borin tuvo que ver como todo el trabajo de su vida, se hundía en el seno
	mismo de la montaña que había sido su hogar. Las detonaciones
	de los ingenieros, hicieron retumbar el Viejo Mundo, y Borin no pudo más.
	Solo quería morir, exiliarse, o las dos cosas. Rasgó su armadura, empuñó
	las armas, y se retiró al Norte como <a href="/habilidad/matador">matador</a>.
</p>

<h3>Años desaparecido (<small class="font-italic">Drengi Zaki</small>)</h3>
<p class="text-justify">
	Es bien sabido que los matadores duran poco. Pero Borin estaba descontrolado.
	Con sus poderosos brazos nudosos, llenos de ira y con una musculatura
	forjada a golpe de martillo, podía decapitar un troll de un hachazo.
</p>
<p class="text-justify">
	Vagó muchos años por el territorio de los <strong>Hombres Bestia</strong>.
	Los culpaba de la muerte de su Señor, Strogh. Además, la mácula de alma,
	contaminada por las energías sombrías de la forja de su legendaria armadura,
	encontraba algo de paz en el exterminio de los malvados ungor. Tantos fueron
	los gor que masacró, que rara vez las tribus salvajes de estas criaturas
	se quedaban para comprobar si la rabia del enano había desaparecido.
</p>
<p class="text-justify">
	Y cuando finalmente la <a href="/pnj/Luria">Reina Luria</a> reorganizó a su
	clan, y declaró la guerra por la montaña, Borin se unió.
</p>

<h3>
	El Invierno
	(<small class="font-italic">Wyr)</small>
</h3>
<p>
	<div class="card bg-light">
		<div class="card-header">
			Borin y Lorian
		</div>
		<div class="card-body">
			<blockquote class="blockquote">
				<i class="fas fa-quote-left"></i>
				<p>
					Lorian Vala, Zaraz'ek, varag'or un or grungnaz.
					Bar karaz-or un Svärd Karaz ut drung. Tiwazen'or...
					<hr>
					<i>
						<b>Tr: </b>Princesa Lorian, eres nuestro regalo. Yo he sido un perro
						loco, un forjador. Pero estoy viejo y hemos conquistado
						nuestra montaña (hogar) Svärd. Es mi turno de descanso...
					<small>
						(Borin cuelga sus armas y seca una lágrima de la princesa,
						que llora desconsolada)
					</small>
				</p>
				<footer class="blockquote-footer text-right">
					Borin, el forjador en
					<cite title="Eddas del Valhalla">
						el otoño de su muerte
					</cite>
				</footer>
			</blockquote>
		</div>
	</div>
</p>
<p class="text-justify">
	Tras la reconquista de la Montaña, Borin vio su vida satisfecha. Muy mayor,
	o "venerable", como la Reina le honraba, sabía que había llegado el fin
	de sus días. Se prestó voluntario al <strong>ritual del Invenierno</strong>,
	que concluyó con éxito. Borin desapareció en una tormenta de nieve suave.
</p>
<p class="text-justify">
	Aunque su legado aún perdura en sus legendarias armaduras, cada vez son
	más escasas. Lo que es cierto, es que ningún otro enano ha logrado jamás,
	alcanzar tal pericia con la forja como Borin Kladjifful.
</p>