<h2>Malekith</h2>
<p>
	Malekith ha gobernado sobre los
	<a href="/clan/Elfos Oscuros">Elfos Oscuros</a>, extendiendo su siniestra
	sombra por todo Naggaroth, su tierra natal. Hay quienes creen que,
	de perecer Malekith, la raza entera de los Elfos Oscuros desapareceria
	con él. Él es su Amo y Señor, todos los Elfos Oscuros se inclinan ante él
	e incluso sus consejeros más cercanos tiemblan ante la idea de que se haya
	aburrido de ellos y los degrade rápidamente de su elevada categoría,
	arrojándolos a una de sus terribles mazmorras.
</p>
<p>
	Los Elfos Oscuros son suyos para hacer con ellos lo que desee y
	no hay nadie que se atreva a desafiar la voluntad de Malekith.
	Nadie puede adivinar si su corazón siempre ha sido tan frío. 
</p>
<p>
	Al igual que su padre, el famoso Aenarion de los Altos Elfos,
	el primer Rey Fénix, Malekith es un maestro en el arte de la guerra y
	uno de los mejores generales de su época. Su madre es la infame Morathi,
	una hechicera de prodigioso talento que se convirtió en la segunda esposa
	de Aenarion después de que este la rescatara de una partida de guerra
	de incursores del Caos.
</p>