<h2>Información útil</h2>
<hr>
<a href="/personaje/bárbaro">
	<img src="/images/nav/bárbaro.png" class="img-fluid" alt="Bárbaro">
</a>

<div class="list-group">
	<a class="list-group-item" href="/raza/humanos">La raza de los humanos</a>
	<a class="list-group-item" href="/locura">Reglas sobre la locura</a>
</div>