<h2>Información útil</h2>
<hr>
<a href="/personaje/clérigo">
	<img class="img-fluid" src="/images/nav/clérigo.png" alt='Clérigo'>
</a>

<div class="list-group">
	<a class="list-group-item" href="/plegarias">Plegarias</a>
	<a class="list-group-item" href="/armaduras">Armaduras</a>
</div>