<h2>Información útil</h2>
<hr>

<a href="/personaje/elohim">
	<img src="/images/nav/elohim.png" alt='elohim' class="img-fluid">
</a>

<p>
	<div class="list-group">
		<a class="list-group-item" href="/plegarias/1">Plegarias</a>
		<a class="list-group-item" href="/resistencias">Resistencias</a>
		<a class="list-group-item" href="/raza/elohims">Trasfondo</a>
	</div>
</p>