<h2>Información útil</h2>
<a href="/personaje/gólem" class="feature-image">
	<img src="/images/nav/gólem.png" alt='Gólem'/>
</a>
<ul class="link-list">
	<li><a href="/plegarias/1">Plegarias</a></li>
</ul>