<h2>Información útil</h2>
<hr>
<a href="/personaje/gólem">
	<img class="img-fluid" src="/images/nav/gólem.png" alt='Gólem'>
</a>

<div class="list-group">
	<a href="/arena/1" class="list-group-item">Magia de Arena</a>
	<a href="/tierra/1" class="list-group-item">Magia de Tierra</a>
	<a href="/sombra/1" class="list-group-item">Magia de Sombras</a>
</div>