<h2>Información útil</h2>

<a href="/personaje/ladrón">
	<img src="/images/nav/ladrón.png" alt='ladrón'/>
</a>

<ul>
	<li><a href="/sigilo">Reglas sobre el sigilo</a></li>
	<li><a href="/sombra/1">Hechizos de sombras</a></li>
	<li><a href="/sangre/1">Hechizos de sangre</a></li>
</ul>