<h2>Información útil</h2>
<hr>
<a href="/personaje/mago">
	<img class="img-fluid" src="/images/nav/magias.png" alt='Magos'>
</a>

<div class="list-group">
	<a class="list-group-item" href="/hechizos/1">Hechizos elementales</a>
	<a class="list-group-item" href="/magisters">Magisters</a>
	<a class="list-group-item" href="/magister">Maestro Arcano</a>
</div>