<h2>Información útil</h2>
<hr>
<a href="/personaje/monje">
	<img class="img-fluid" src="/images/nav/monje.png" alt='monje'>
</a>
<div class="list-group">
	<a class="list-group-item" href="/hechizo/niebla">Hechizo niebla</a>
</div>