<div class="card">
	<div class="card-header">
		<h4>Reglas de combate</h4>
	</div>

	<a href='/combate'>
		<img class="card-img-top" src="/images/nav/combate.png" alt="Combate">
	</a>

	<div class="list-group list-group-flush">
			<a class="list-group-item" href='/estados'>
				<i class="fa fa-tint fa-fw" aria-hidden="true"></i> Estados de combate
			</a>
			<a class="list-group-item" href='/posiciones'>
				<i class="fa fa-reply-all fa-fw fa-rotate-270" aria-hidden="true"></i>
				Posiciones
			</a>
			<a class="list-group-item" href='/resistencias'>
				<i class="fa fa-bolt fa-fw" aria-hidden="true"></i> Resistencias
			</a>
			<a class="list-group-item" href='/fases'>
				<i class="fas fa-hourglass-half fa-fw"></i> Fases del Juego
			</a>
			<a class="list-group-item" href='/sigilo'>
				<i class="fa fa-eye-slash fa-fw" aria-hidden="true"></i> Sigilo
			</a>
			<a class="list-group-item" href='/locura'>
				<i class="fas fa-heartbeat fa-fw" aria-hidden="true"></i> Locura
			</a>
			<a class="list-group-item" href='/dado/4'>
				<i class="fas fa-cube"></i> Lanzar dados
			</a>
	</div>
</div>