<h2>Reglas de combate</h2>

<a href='/combate'>
	<img src='/images/nav/combate.png' alt='Combate'>
</a>

<ul>
	<li><a href='/estados'>Estados de combate</a></li>
	<li><a href='/posiciones'>Posiciones</a></li>
	<li><a href='/resistencias'>Resistencias</a></li>
	<li><a href='/fases'>Fases del Juego</a></li>
	<li><a href='/sigilo'>Sigilo</a></li>
	<li><a href='/locura'>Locura</a></li>
	<li><a href='/dado/4'>Lanzar dados</a></li>	
</ul>