<h2>Reglas de combate</h2>

<a href='/combate'>
	<img src='/images/nav/combate.png' alt='Combate'>
</a>

<div class="list-group">
	<a class="list-group-item" href='/estados'>Estados de combate</a>
	<a class="list-group-item" href='/posiciones'>Posiciones</a>
	<a class="list-group-item" href='/resistencias'>Resistencias</a>
	<a class="list-group-item" href='/fases'>Fases del Juego</a>
	<a class="list-group-item" href='/sigilo'>Sigilo</a>
	<a class="list-group-item" href='/locura'>Locura</a>
	<a class="list-group-item" href='/dado/4'>Lanzar dados</a>	
</div>