<h2>El Personaje</h2>
<hr>
<div class="list-group">
	<a class="list-group-item" href="/personajes">Sobre los personajes</a>
	<a class="list-group-item" href="/razas">Las razas del Viejo Mundo</a>
	<a class="list-group-item" href="/mapa">El mapa del Viejo Mundo</a>
	<a class="list-group-item" href="/descendientes">Descendientes</a>
	<a class="list-group-item" href="/test/0">Descubre tu héroe ideal</a>
	<a class="list-group-item" href="/profesiones">Profesiones</a>
	<a class="list-group-item" href="/maestrodearmas">Maestro de Armas</a>
	<a class="list-group-item" href="/magister">Maestros arcanos</a>
	<a class="list-group-item" href="/camino">Los caminos de un héroe</a>
	<a class="list-group-item" href="/clanes">Clanes y sectas</a>
</div>
<br>