<table>
	<tr>
		<td width="10%">
		</td>
		<td>
			<i></i>
		</td>
	</tr>
</table>

<dl class="row">
	<dt class="col-sm-3">
		<img src=<%= g.img_path %> alt="<%= g.name %>" class="img-fluid">
	</dt>
	<dd class="col-sm-9">
		Descripción (por hacer)
	</dd>
</dl>