<h2>Calibre de gemas</h2>
<hr>
<a href='/gemas'>
	<img src='/images/nav/gemas.png' alt='Gemas' class="img-fluid">
</a>
<hr>
<p>
	El calibre mide la calidad de la gema.
	Cuánto mayor es su calibre, mayor es su precio
	y mejores son sus propiedades mágicas.
</p>

<p>
	<h3>Listado de calibres</h3>
	<div class="list-group">
		<% 6.times do |calibre| %>
			<% c = gema_calidades[calibre] %>
			<a class="list-group-item" href='/calibre/<%= c['calibre'] %>'>
				<%= c['name'] %>
			</a>
		<% end %>
	</div>
</p>