<div class="card">
	<div class="card-header">
		<h4>Calibre de gemas</h4>
	</div>

	<a href='/combate'>
		<img class="card-img-top" src="/images/nav/gemas.png" alt="Gemas">
	</a>
	
	<div class="card-body">
		<p class="card-text">
			El calibre mide la calidad de la gema.
			Cuánto mayor es su calibre, mayor es su precio
			y mejores son sus propiedades mágicas.
		</p>
	</div>

	<ul class="list-group list-group-flush">
		<% 6.times do |calibre| %>
			<% c = gema_calidades[calibre] %>
			<li class="list-group-item d-flex justify-content-between align-items-center">
				<span class="badge badge-secondary badge-pill"><%= calibre +1 %></span>
				<a href='/calibre/<%= c['calibre'] %>'>
					<%= c['name'] %>
				</a>
			</li>
		<% end %>
	</ul>
</div>