<h2>Calibre de gemas</h2>
<a href='/gemas' class="img-fluid">
	<img src='/images/nav/gemas.png' alt='Gemas'/>
</a>
<hr>
<p>
	El calibre mide la calidad de la gema.
	Cuánto mayor es su calibre, mayor es su precio
	y mejores son sus propiedades mágicas.
</p>

<h3>Listado de calibres</h3>
<p>
	<ul class="link-list">
		<% 6.times do |calibre| %>
			<% c = gema_calidades[calibre] %>
			<li><a href='/calibre/<%= c['calibre'] %>'><%= c['name'] %></a></li>
		<% end %>
	</ul>
</p>