<h2>Escuelas de la magia</h2>
<hr>
<p>
	Cuando los <a href='/raza/elfos'>elfos</a> enseñaron los entresijos 
	de la magia a los humanos primitivos,
	al percibir la <a href="/historiamagia">complejidad de las Artes Arcanas</a>, 
	y pronositcar los grandes desastres que ocasionarían en tan inexpertas mentes,
	les asesoraron para la instauración de las escuelas de la Magia.
</p>

<h3>Listado de hechizos por escuela</h3>
<%= slim :'magia/escuelas/tabla' %>