<h2>Magia Oscura</h2>
<hr>
<p class="text-justify">
	La Magia Oscura, magia negra o "<strong>tenebro</strong>", es un tipo
	de magia que utiliza la maldad y la perversión como fuente de poder.
	Al contrario que las magias elementales, la magia negra casi siempre
	tiene una naturaleza sagrada.
</p>
<p class="text-justify">
	Para resistir los efectos de esta magia, generalmente se debe hacer
	una tirada de resistencia contra <strong>Tenebro</strong>, tal y como
	se indica en la
	<a class="btn btn-outline-secondary btn-sm" href="/resistencias">
		<i class="fas fa-bolt"></i>
		tabla de resistencias
	</a>
</p>

<h3>Tipos de Tenebra</h3>
<p>
	<dl class="row text-justify">
		<dt class="col-md-3 text-left">
			<a href="/">Execraciones</a>
		</dt>
		<dd class="col-md-9">
			Son la manifestación más evidente de la <strong>magia negra</strong>,
			ya que obtienen su poder del reverso tenebroso de la Luz, pues son
			la energía opuesta a las <a href="/plegarias/1">plegarias</a>
		</dd>

		<dt class="col-md-3 text-left">Magia del Caos</dt>
		<dd class="col-md-9">
			La magia del Caos, es solamente conocida por el
			<strong>Malvado Brujo</strong> y sus lugartenientes.
			Aunque actualmente está prohibida en todos los <a href="/mapa">Reinos</a>,
			Algunos magos incautos que intentan mezclar distintas energías mágicas,
			acaban incurriendo en conjurar magia del Caos.
			(con terribles consecuencias)
		</dd>

		<dt class="col-md-3 text-left">
			<a href="/sangre/1">Magia de sangre</a></dt>
		</dt>
		<dd class="col-md-9">
			También conocida como <strong>maho</strong>, esta magia obtiene el poder
			de la energía vital de la sangre. Incluso en la muerte, el
			<strong>maho</strong> puede mantener todo el poder para conjurar grandes
			sortilegios y efectos. Sus practicantes, han sido siempre perseguidos,
			acusados de brujería por el Imperio. No obstante, no toda la magia
			de sangre es de carácter malvado. Los miembros de la
			<a href="/clan/Orden Prohibida">Orden Prohibida</a> utilizan la magia
			de sangre para ayudar a los compatriotas que en segundo plano les
			persiguen por sus prácticas.
		</dd>

		<dt class="col-md-3 text-left">
			<a href="/sombra/1">Magia de sombras</a>
		</dt>
		<dd class="col-md-9">
			Dicen los <a href=/raza/rakshasas>Rakshasas</a> que el alma tiene
			varios elementos, entre ellos <strong>Sheut</strong> (lit. "sombra").
			Al igual que el espectro de la luz, el alma se puede descomponer,
			y la energía de la sombra, es la que genera esta magia tan poderosa
			como antigua. Al no estar permitido su uso fuera de la
			<a href="/escuelas">Escuela de sombras</a>, los inquisidores del Imperio,
			perseguirán a sus practicantes, especialmente si es mezclada con maho.
		</dd>

		<dt class="col-md-3 text-left">Nigromancia</dt>
		<dd class="col-md-9">
			El arte de los muerte. Su uso está prohibido en las fronteras imperiales,
			y sus practicantes suelen enloquecer, pues los vivos no están preparados
			para comprender a los muertos. Son conocidos sus practicantes en los
			bosques de Silvania, el desierto Prohibido y los secuaces del
			<a href="/pnj/Morcar">Malvado Brujo</a>.
		</dd>

	</dl>
</p>