<h2>Tipos de Magia</h2>
<hr>

<p>
	Todas las magias tienen un <strong>tipo</strong> que determina
	el efecto que realizan de forma rápida y como referencia. 
	Puedes ver el detalle de un hechizo, en la descripción.	
</p>

<dl class="row text-left">
	<% tipos_magia.each do |tipo| %>
		<dt class="col-lg-3"><%= tipo['name'] %></dt>
		<dd class="col-lg-9"><%= tipo['desc'] %></dd>
	<% end %>
</dl>