<% edition = params[:param].to_i %>

<h2><%= edition %>ยบ Certamen de historias HeroQuest</h2>
<hr>

<nav aria-label="Page navigation example">
	<ul class="pagination justify-content-center">
		<li class="page-item">
			<a class="page-link" href="/historias/1">
				<%= '&laquo;' if edition != 1 %> 1ยบ certamen
			</a>
		</li>
    <li class="page-item">
			<a class="page-link" href="/historias/2">
				2ยบ certamen <%= '&raquo;' if edition != 2 %>
			</a>
		</li>
	</ul>
</nav>

<p><%= slim :'lore/tabla_certamen', locals: { i: edition } %></p>