<h2>Personajes Ilustres</h2>

<h3>El Imperio</h3>
<div class="list-group">
	<ul>
		<li class="list-group-item"><a href="/pnj/mentor">Mentor</a></li>
		<li class="list-group-item"><a href="/pnj/ragnar">Sir Ragnar</a></li>
		<li class="list-group-item"><a href="/pnj/magnus">Magnus IV</a></li>
		<li class="list-group-item"><a href="/pnj/sigmar">Sigmar</a></li>
		<li class="list-group-item"><a href="/pnj/gilgamesh">Gilgamesh</a></li>
	</ul>
</div>

<h3>La corte obsidiana</h3>
<div class="list-group">
	<ul class="link-list">
		<li class="list-group-item"><a href="/pnj/luria">Luria BattleAxe</a></li>
		<li class="list-group-item"><a href="/pnj/lorian">Lorian BattleAxe</a></li>
		<li class="list-group-item"><a href="/pnj/borin">Borin</a></li>
		<li class="list-group-item"><a href="/pnj/cejohierro">Thorek Cejohierro</a></li>
	</ul>	
</div>

<h3>El Caos y las Tinieblas</h3>
<div class="list-group">
	<ul class="link-list">
		<li class="list-group-item"><a href="/pnj/morcar">Morcar</a></li>
		<li class="list-group-item"><a href="/pnj/averkram">Averkram</a></li>
		<li class="list-group-item"><a href="/pnj/Zharakarías">Zharakarías</a></li>
	</ul>
</div>