<h2>Personajes Ilustres</h2>
<hr>
<h3>El Imperio</h3>
<div class="list-group">
	<a class="list-group-item" href="/pnj/mentor">Mentor</a>
	<a class="list-group-item" href="/pnj/ragnar">Sir Ragnar</a>
	<a class="list-group-item" href="/pnj/magnus">Magnus IV</a>
	<a class="list-group-item" href="/pnj/sigmar">Sigmar</a>
	<a class="list-group-item" href="/pnj/gilgamesh">Gilgamesh</a>
</div>

<h3>La corte obsidiana</h3>
<div class="list-group">
	<a class="list-group-item" href="/pnj/luria">Luria BattleAxe</a>
	<a class="list-group-item" href="/pnj/lorian">Lorian BattleAxe</a>
	<a class="list-group-item" href="/pnj/borin">Borin</a>
	<a class="list-group-item" href="/pnj/cejohierro">Thorek Cejohierro</a>
</div>

<h3>El Caos y las Tinieblas</h3>
<div class="list-group">
	<a class="list-group-item" href="/pnj/morcar">Morcar</a>
	<a class="list-group-item" href="/pnj/averkram">Averkram</a>
	<a class="list-group-item" href="/pnj/Zharakarías">Zharakarías</a>
</div>