<div class="card">
	<div class="card-header">
		<h4>Ancestrales</h4>
	</div>

	<a href='/magisters'>
		<img class="card-img-top" src="/images/magia/ancestrales.png" alt="Magisters">
	</a>
	<div class="card-body">
		<p class="card-text">
			Solo están disponibles para los Magos. Otros usuarios de la magia,
			enloquecerían al intentar comprender sus misterios:
		</p>
	</div>

	<ul class="list-group list-group-flush">
		<li class="list-group-item">
			<h5 class="card-title">Ardid</h5>
			<p class="card-text">
				Permite aprender el ardides.
			</p>
		</li>
		<div class="card-footer text-muted">
			Coste: 100 <i class="fas fa-database text-warning"></i>
		</div>
		<li class="list-group-item">
			<h5 class="card-title">Optimus</h5>
			<p class="card-text">
				Permite al mago eliminar un único detrimento de escuela,
				tras especializarse en otra.
			</p>
		</li>
		<div class="card-footer text-muted">
			Coste: 100 <i class="fas fa-database text-warning"></i>
		</div>
		<li class="list-group-item">
			<h5 class="card-title">Sanguinis</h5>
			<p class="card-text">
				Se podrá sustituir una escuela por el elemento sangre.
			</p>
		</li>
		<div class="card-footer text-muted">
			Coste: 250 <i class="fas fa-database text-warning"></i>
		</div>
		<li class="list-group-item">
			<h5 class="card-title">Umbrae</h5>
			<p class="card-text">
				Se podrá sustituir una escuela por el elemento sombra.
			</p>
		</li>
		<div class="card-footer text-muted">
			Coste: 250 <i class="fas fa-database text-warning"></i>
		</div>
	</ul>
</div>
<br>