.cuadro_intro_hover style="background-color:#cccccc;"

	p style="text-align:center; margin-top:20px;"
		img {
			src="/images/layout/heroquest.jpeg"
			class="img-responsive"
			alt="HeroQuest"
		}

	.caption
		.blur
		.caption-text
			h3 {
				style="border-top:2px solid white;
				border-bottom:2px solid white;
				padding:10px;"
			}
				| HeroQuest
			p
				| Un grupo de héroes luchan contra terribles
				|  monstruos y viven aventuras fantásticas.

			a class=" btn btn-default" href="#"
				span class="glyphicon glyphicon-plus"
					| LEER