| Copyright 2019 
i class="fa fa-copyright" aria-hidden="true"
|  HeroSheet | 
a href="/policy"
	i class="fa fa-user-secret" aria-hidden="true"
	|  Política de Privacidad | 
a href="/terms"
	i class="fa fa-balance-scale" aria-hidden="true"
	|  Términos de uso