<p class='text-center'>
	Copyright 2017
	<i class="fa fa-copyright" aria-hidden="true"></i>
	HeroSheet
	|
	<a href="/policy">
		<i class="fa fa-user-secret" aria-hidden="true"></i>
		Política de Privacidad
	</a>
	|
	<a href="/terms">
		<i class="fa fa-balance-scale" aria-hidden="true"></i>
		Términos de uso
	</a>
</p>