<!-- Marketing Icons Section -->
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			Web amateur del juego de mesa HeroQuest
		</h1>
	</div>

	<div class="col-md-4">
			<div class="panel panel-default">
					<div class="panel-heading">
							<h4>
								<i class="fa fa-flag"></i>
								La Ciudad de Jadessvärd
							</h4>
					</div>
					<div class="panel-body">
						<h5>Un lugar de encuentro de aventureros</h5>
						<p>
							 La ciudad fue edificada entre las viejas ruinas
							 de una ciudad mercantil edificada por los antiguos
							 pobladores humanos del valle, con el objetivo de comerciar
							 con los elfos de Jadesia y los enanos de la montaña Svärd. 
						</p>
							<a href="#" class="btn btn-default">Leer más</a>
					</div>
			</div>
	</div>

	<div class="col-md-4">
			<div class="panel panel-default">
					<div class="panel-heading">
							<h4><i class="fa fa-fw fa-gift"></i> Free &amp; Open Source</h4>
					</div>
					<div class="panel-body">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
							<a href="#" class="btn btn-default">Learn More</a>
					</div>
			</div>
	</div>

	<div class="col-md-4">
			<div class="panel panel-default">
					<div class="panel-heading">
							<h4><i class="fa fa-fw fa-compass"></i> Easy to Use</h4>
					</div>
					<div class="panel-body">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
							<a href="#" class="btn btn-default">Learn More</a>
					</div>
			</div>
	</div>

</div>