<div class="row">

	<div class="col-md-4">
			<div class="panel panel-default">
					<div class="panel-heading">
							<h4>
								<i class="fa fa-flag"></i>
								La Ciudad de Jadessvärd
							</h4>
					</div>
					<div class="panel-body">
						<h5>Un lugar de encuentro de aventureros</h5>
						<p>
							 La ciudad fue edificada entre las viejas ruinas
							 de una ciudad mercantil edificada por los antiguos
							 pobladores humanos del valle, con el objetivo de comerciar
							 con los elfos de Jadesia y los enanos de la montaña Svärd. 
						</p>
							<a href="#" class="btn btn-default">Leer más</a>
					</div>
			</div>
	</div>

	<div class="col-md-4">
			<div class="panel panel-default">
					<div class="panel-heading">
							<h4><i class="fa fa-fw fa-gift"></i>Manuales de Juego</h4>
					</div>
					<div class="panel-body">
							<p>
								Tiradas aleatorias de Tesoro
								Tiradas aleatorias de combate
								Estados de combate y resistencias
								Bestiario de criaturas del juego
								Personajes, habilidades y poderes
							</p>
							<a href="#" class="btn btn-default">Leer más</a>
					</div>
			</div>
	</div>

	<div class="col-md-4">
			<div class="panel panel-default">
					<div class="panel-heading">
							<h4><i class="fa fa-fw fa-compass"></i>Personajes Ilustres</h4>
					</div>
					<div class="panel-body">
							<p>
								 Magnus III, El Emperador
								
								 "Bastará el honor de servir"
								 Magnus III, el Emperador
								 Mentor
								
								 "No te olvides de volver con vida"
								 Mentor, tutor de aventureros
								 Luria BattleAxe
								
								 "¡Svärd ufd arthruax Luria!"
								 Luria BattleAxe, reina de Ébano
							</p>
							<a href="#" class="btn btn-default">Leer más</a>
					</div>
			</div>
	</div>

</div>