<h2>La Espada Roja</h2>

<a href="/espadaroja" class="img-fluid">
	<img src="/images/nav/espadaroja.png" alt="Espada Roja">
</a>

<p>
	Este taimado objeto, tiene personalidad propia.
	Cada turno que sea empuñada, somete a su portador
	a una adivinanza, que si no	lograra resolver,
	le causa 4 daños.
</p>
<p>
	Tira <strong>2d6</strong> cada reto.
	Debes resolver esos enigmas	de entre 12 posibles,
	para que la espada quede saciada.
</p>
