<h2>Artefactos</h2>
<hr>
<img src='/images/nav/artefactos.png' class="img-fluid" alt='Artefactos'>

<p>
	Son piezas de artesanía, muchas veces dotadas de magia,
	de origen legendario.

	<div class="link-list">
		<a class="list-group-item" href="/tarot">El tarot maldito</a>
		<a class="list-group-item" href="/espadaroja">La espada roja</a>
		<a class="list-group-item" href="/listanegra">La lista negra</a>
	</div>
</p>