<h2>Contenedores</h2>
<hr>

<h3>Más es menos</h3>
<p>
	Son objetos que aunque consumen casillas de inventario,
	permiten llevar en su interior otros objetos.
</p>

<div class="list-group">
	<% ["pociones","piezas","abalorios","materiales"].each do |obj| %>
		<a class="list-group-item" href="/<%= obj %>">
			<%= obj.capitalize %>
		</a>
	<% end %>
</div>