<h2>Clanes y sectas</h2>
<hr>

<h3>Personajes principales</h3>
<p class="text-justify">
	El primer personaje de un jugador será siempre del clan por defecto
	del personaje elegido. Si un jugador decide tener un personaje alternativo,
	(<a href="/razas">consultar tabla para crear reservistas</a>)
	también será del clan por defecto.
</p>

<p class="text-justify">
	Sin embargo, si el <strong>Malvado Brujo</strong> acepta, o si por
	características de la historia está permitido, algunos personajes
	podrían ser de un clan diferente. Consulta los clanes en la siguiente tabla:
</p>
<%= slim :"personajes/clanes/tabladefecto" %>

<h3>Habilidades</h3>
<p class="text-justify">
	Las habilidades de los personajes de clanes secundarios cambian en nivel 1,
	<a href="/habilidadesbase">(habilidades base)</a>, en las habilidades
	definitivas, y en las habilidades principales de cada clase.
</p>