<h2>Elfos Pouvert</h2>
<hr>

<p>
	Es el nombre que reciben los miembros del clan más extraño entre los
	<a href="/raza/elfos">clanes élficos</a>. Estos elfos, provienen
	del desierto, en el que moran, debido a su idoneidad dada la
	<strong>maldición</strong> de la que adolecen.
</p>

<h3>La maldición</h3>
<p>
	Y es que, los elfos Pouvert, son incapaces de entrar en contacto con el agua,
	ya que el líquido elemento les causa corrosión, como si del más potente
	ácido se tratara. Es por esto, que deliberadamente, siglos atrás,
	decidieron exiliarse en las tierras del Sur, en la región conocida como
	<strong>El Desierto Prohibido</strong>.
</p>
<p>
	Cualquiera que logre imaginar esta terrible maldición, pensará en cómo
	pueden estas criaturas sobrevivir sin el tan necesario elemento.
	Y es que sin agua, los seres vivos mueren de sed. No obstante, sigue siendo
	un misterio; estos elfos, parece que solamente necesiten la luz solar
	para subsistir, y sus cuerpos son capaces de repeler el agua con solamente
	un pensamiento.
</p>

<p>
	<div class="row">
		<div class="col-lg-6">
			<br>Trono de Arañas, territorio drow
			<img src="/images/razas/clanes/elfosPouvert1.png" alt="Trono Drow"
					 class="img-fluid img-thumbnail">
		</div>
		<div class="col-lg-6">
			<div class="card-body">
				<blockquote class="blockquote">
					<i class="fas fa-quote-left"></i>
					<p>
						Siempre me he preguntado si esos elfos Pouvert están hechos
						de azúcar. Daría una fortuna por ver sus caras durante un diluvio,
						o por escupirles a los ojos... ¿Sudarán durante el sexo...?
					</p>
					<footer class="blockquote-footer text-right">
						Matriarca drow,<br> bromeando en su
						<cite title="Eddas del Valhalla">
							Trono de Arañas
						</cite>
					</footer>
				</blockquote>
			</div>
		</div>
	</div>
</p>

<h3>Redención</h3>
<p>
	¿Quién lanzó la maldición a los Pouvert? ¿Y por qué? Estas preguntas
	han atormentado a los elfos Pouvert durante generaciones. Al ser un clan
	muy disperso y no poseer archivos conocidos, los pocos elfos Pouvert
	que vagan por el desierto o se atreven a adentrarse a las fértiles tierras
	del norte, desconocen su respuesta.
</p>
<p>
	<div class="row">
		<div class="col-lg-9">
			<p>
				Algunos especulan con la desaparición de los <a href="/raza/elohim">Elohim
				</a> de las tierras meridionales. Otros en cambio, piensan que podrían
				haber sido los <a href="/magisters">Magisters</a>, los magos
				que rompieron las leyes del tiempo y viajaron desde el pasado,
				usando la <a href="/arena/1">magia de las arenas</a>.
			</p>
			<p>
				Lo que sí está claro, es que los elfos Pouvert tienen una deuda con el
				<strong>agua</strong>. Desde ultramar, sus lejanos parientes estudian
				la solución. Muchos de los antepasados comunes hablan de la temible
				profecía que acontecería el día que los <a href="/clan/Altos Elfos">Altos
				Elfos</a> tengan que exiliarse de <strong>Ulthuan</strong>, porque el mar
				sumerja la isla o una terrible <strong>maldición</strong> les obligue.
			</p>
		</div>
		<div class="col-lg-3">
			<img src="/images/razas/clanes/elfosPouvert2.png" alt="elfo Pouvert"
					 class="img-fluid img-thumbnail">
			elfo Pouvert
		</div>
	</div>
</p>

<p>
	Por estos motivos, los elfos Pouvert viven en una constante búsqueda de
	conocimiento y saber histórico. Buscan redimir su maldición, salvar a su
	pueblo del terrible destino que parece perseguirles.
</p>