<h2>Elfos Oscuros</h2>
<hr>

<p>
	La historia de los Elfos Oscuros está llena de traiciones,
	de derechos de nacimiento negados y de una retribución muy esperada.
	Son incursores voraces que van dejando su huella sangrienta a lo largo y
	ancho del Mundo. Toman lo que quieren y arriesgan sus vida
	con la promesa de gloria, poder y riquezas.
	Ambicionan un futuro donde ellos dominen gloriosamente,
	donde los capiteles de sus odiados enemigos sean derribados y
	el gobierno de su Rey Brujo inmortal, Malekith,
	alcance todos los rincones del mundo.
</p>
<p>
	De todas las razas del mundo, los Elfos Oscuros encarnan
	<strong>la maldad más pura</strong>; sienten placer al cometer
	actos malignos por el simple placer de hacer sufrir a los demás.
	Como un niño que arranca las alas a una mosca, un Elfo Oscuro,
	torturará un prisionero muy lentamente, simplemente para ver cuánto dolor
	puede causarle antes de que su víctima muera.
	Ni siquiera los seguidores de los malignos Dioses del Caos
	son tan depravados, porque si bien son capaces de cometer actos
	de inenarrable horror, lo hacen en nombre de sus Dioses y
	para propagar su religión maldita.
</p>
<p>
	Los Elfos Oscuros no sienten la necesidad de refugiarse
	en ningún tipo de excusa. Los Elfos Oscuros, o los 
	<strong>Druchii</strong>, como se llaman a sí mismos,
	no son la única raza de Elfos del mundo.
</p>
	Hay tres grandes civilizaciones nacidas en Ulthuan que se desprecian
	unas a otras por considerarse seres lloriqueantes y decadentes,
	no aptos para heredar el legado de la antigüedad.
</p>
<p>
	Al este de Naggaroth, sobre el suelo fracturado de Ulthuan,
	viven los Altos Elfos, los <strong>Asur</strong>.
	Entre estos dos reinos nunca podrá haber paz ya que las traiciones
	de antaño no fueron más que la salva inicial de una guerra amarga
	que ha durado milenios.
<p>
	Pese a que los Elfos Oscuros desean gobernar el mundo,
	al menos dejan clara su ambición. No como los Altos Elfos,
	que bajo el disfraz de la protección, no se preocupan
	de las consecuencias que pueda haber para otras tierras.
	Más al este, en el continente infestado por los humanos y
	otros bárbaros primitivos, se encuentra Athel Loren,
	el reino de los Elfos Silvanos, los Asrai. Los Elfos Silvanos
	reciben el desprecio tanto de los Elfos Oscuros como de los Altos Elfos
	ya que no pretenden gobernar o controlar, solo resistir.
</p>
<p>
	Independientemente de sus alianzas, todos los elfos tienen vidas longevas
	y poseen una seguridad en sí mismos que parece de otro mundo.
	Son ágiles y rápidos de reflejos, capaces de avergonzar a los hombres
	más elegantes con su gracia sin igual.
</p>
<p>
	A pesar de que los diversos tipos de Elfos se diferencian poco entre sí, 
	los Elfos Oscuros consideran que son los únicos que hacen un uso pleno
	de sus dones naturales,	ya que son los únicos entre todos Elfos
	que no permiten que conceptos como la piedad y la tradición
	encadenen sus habilidades.
</p>
<p>
	Los Elfos son mucho más altos que los humanos y son fuertes,
	aunque su constitución es más esbelta.
	Sus extremidades son largas y tienen dedos finos y delgados.
	Sus ojos son grandes y ovales, y su mirada es inquietante,
	ya que trasmiten una sabiduría ultramundana que desconcierta
	a otras criaturas. Para los Elfos Oscuros, su belleza fría
	enmascara el atractivo natural de su raza y un ceño fruncido o
	una sonrisa sarcástica suele acompañar el color pálido de la piel
	de sus rostros elegantes. En su mayoría, tienen el cabello oscuro,
	un aire siniestro y sus miradas solo trasmiten desdén.
</p>
<p>
	Los Elfos son más astutos e inteligentes que las razas mortales.
	Cada una de sus palabras contiene un significado preciso
	que se altera con el cambio o la inflexión más sutil. Los Elfos Oscuros,
	en particular, son maestros del arte de retorcer el discurso
	para que sirva a su causa y pueden manipular las emociones de los demás
	para que se adapten mejor a sus propios intereses.
</p>
<p>
	Debido a ello los Druchii negocian y rompen alianzas
	sin tener en cuenta las consecuencias, sabiendo que sus lenguas de oro
	les ayudarán a sanar las heridas del pasado. Es esto, más que cualquier
	otra cosa, lo que hace que la sociedad de los Elfos Oscuros
	sea tan oportunista e impetuosa. Cuando las deudas pasadas se pueden borrar
	con una simple palabra, ¿qué necesidad queda de ley e integridad?
</p>
<p>
	Aunque la rapidez de mente y la velocidad del cuerpo resultan útiles
	de forma individual a los Elfos Oscuros, la combinación de ambas les otorga
	una capacidad letal en combate. Los detalles de la postura y
	el equilibrio del enemigo le dicen mucho a un Elfo atento,
	permitiéndole saber no solo dónde y cuándo atacará el enemigo,
	sino la forma en que el gesto del ataque debilitará su guardia.
	De esta forma, muchos enemigos han muerto a de un golpe que creían que
	les iba a dar el combate, sus vidas robadas por un arma increíblemente veloz,
	guiada por una mente aún más ágil.
</p>
<p>
	Los Elfos tienen largas vidas y pasan muchos siglos perfeccionando
	sus habilidades. Tienen emociones profundas y sus sentimientos de alegría y
	desesperación están mucho más arraigados que los de cualquier otra raza.
	Muchos Elfos pasan sus vidas perfeccionando sus talentos con
	objetivos pacíficos como la escultura o la poesía.
</p>
<p>
	Otros consagran su tiempo a la magia intrincada o a desarrollar
	el más exquisito de los artefactos. Gracias a ello, los Elfos consiguen
	dar sentido a sus largas existencias de siglos y perfeccionan sus habilidades
	tanto en el campo de la felicidad como en el del dolor. Para un Elfo Oscuro,
	la imposición de tristeza y dolor, el arte delicado del asesinato y
	la tortura son sus únicos medios de expresión. Solo se deleita
	con el sufrimiento de otros, pues una vida de cruel indiferencia y
	duras batallas ha enturbiado otros placeres. Los Elfos Oscuros viven
	para satisfacer sus propios deseos y para dominar a otros. Para ellos,
	los esfuerzos de los Altos Elfos son suaves e indulgentes y son síntoma
	de una debilidad que ha de suprimirse para que los Elfos vuelvan a tener
	poder en el Viejo Mundo.
</p>
<h3>Historia de los elfos Oscuros</h3>
<p>
	Hace cinco mil años, las tierras élficas de <strong>Ulthuan</strong>
	se vieron convulsionadas por una terrible guerra civil.
	Durante décadas, ambos bandos lucharon ferozmente entre sí,
	hundiendo a los Reinos de los Altos Elfos en un periodo de anarquía,
	terror, muerte y violencia. La guerra empezó cuando
	<a href="/pnj/Malekith">Malekith</a>, el futuro 
	<strong>Rey Brujo</strong> de Naggaroth, intentó tomar el poder
	en un sangriento golpe de Estado.
</p>
<p>
	Malekith y sus corruptos seguidores abandonaron a
	los ancestrales dioses Elfos, y buscaron los conocimientos prohibidos
	de la <a href="/tenebro">Magia Oscura</a>.
	Cuando los demás Elfos intentaron detener a Malekith,
	los reinos de los Elfos fueron arrastrados a una larga y sangrienta guerra.
	Al final, los Elfos Oscuros, que es como fueron denominados los rebeldes,
	fueron expulsados y proscritos, refugiándose en Naggaroth, una tierra
	de exilio donde quedaron libres para cultivar su amargura y resentimiento.
	Allí levantaron sus propios reinos entre las inhóspitas montañas y
	los bosques de pinos de la denominada Tierra del Frío.
</p>
<p>
	La más grande y vieja de estas ciudades es Naggarond, donde el antiguo e
	inmortal Rey Brujo estableció su corte, y continúa planificando sus ofensivas
	en la inacabable guerra que los Elfos Oscuros llevan a cabo
	contra los Altos Elfos.
</p>