<h2>Enanos de lava</h2>
<hr>

<div class="alert alert-secondary" role="alert">
	<div class="row">
		<div class="col-md-2">
			<img src="/images/razas/clanes/enanoslava.png" alt="enanos de lava"
					 class="img-fluid">
		</div>
		<div class="col-md-10">
			<h4 class="alert-heading">
				<i class="fas fa-info-circle"></i>
				Más bien un grupo taxonómico
			</h4>
			<p class="text-justify">
				Con este nombre, se agrupan los enanos que viven en las <strong>Pozas de
				Magma</strong> en la Espina del Mundo, los <strong>enanos de fuego</strong>,
				los hijos de <a href="/pnj/Kaminfeuer">Schlot Kaminfeuer</a> y
				los terribles <strong>retacos rojos</strong>. Todos comparten una
				característica común:
			</p>
			<hr>
			<p class="mb-0 font-italic">Su inmensa afinidad por el fuego</p>
		</div>
	</div>
</div>

<h3>Origen del nombre</h3>
<p>
	Todo el mundo sabe que los enanos provienen del interior del mundo.
	Muchos piensan que los enanos provienen por lo tanto de la piedra.
	Y cuando imaginan al típico <a href="/raza/enanos">enano</a>, solamente
	pueden concebir al clan más numeroso, los
	<a href="/clan/enanos de las colinas">enanos de las colinas</a>.
</p>
<p>
	Pero ni todo el interior del mundo es de piedra, ni todos los enanos
	sienten afinidad por las rocas. Los <strong>enanos de lava</strong>
	veneran al fuego. Tanto es así, que se cree, que la energía primigenia
	que forjó a estos enanos, manaba del mismo lava.
</p>

<h3>Las Pozas de Magma</h3>
<p>
	De estos linajes de enanos de lava, solamente quedan algunos, concentrados
	en una cordillera volcánica conocida como <strong>Las Pozas de Magma</strong>
	que ha sufrido los estragos de guerras entre enanos de lava, de los diferentes
	linajes que reclaman su control.
</p>
<p>
	Actualmente en guerra civil, los enanos de lava se ven sometidos a una
	constante lucha fraticida, en la que muchos se hayan sumergidos sin saber
	con claridad qué solución puede albergar el futuro.
</p>

<h3>Linajes, política y sociología</h3>
<p>
	<div class="card bg-light">
		<div class="card-body">
			<blockquote class="blockquote">
				<i class="fas fa-quote-left"></i>
				<p>
					Es sabido que <a href="/pnj/Magnus">el Emperador</a> es un
					títere avaricioso de oro, sentado en el trono forjado con el sudor
					de otros. Por eso, mis vástagos, sois tan temidos. Porque no dejaremos
					que la corrupción del Imperio se establezca en las
					<strong>Pozas de Magma</strong>.
				</p>
				<p>
					¡Hijos míos! ¡Quemad, calcinad, incinerad y eliminad cualquier
					rastro de la mácula imperial y a cualquiera de sus agentes!
					¡No importa el color de sus barbas, no importa su semejanza!
					¡Si han hecho tratos con los imperiales, son 
					<strong>el enemigo</strong>! ¡Debemos prevalecer!
					¡Nosotros somos la raza pura, descendientes de Furiaflama!
				</p>
				<footer class="blockquote-footer text-right">
					<a href="/pnj/Kaminfeuer">Schlot Kaminfeuer</a>,
					Tirano Ígneo en la
					<cite title="Eddas del Valhalla">
						Arenga contra Magnus
					</cite>
				</footer>
			</blockquote>
		</div>
	</div>
</p>

<p>
	Existen varios linajes, aunque todos comparten un antepasado común:
	<strong>Furiaflama</strong>. Se considera el padre de los enanos de lava.
	Son muchos quiénes reivindican su descendencia directa. La cuestión
	racial, ha llegado a límites extremistas, de una xenofobia y racismo
	radical, como es el ejemplo de <strong>los hijos de Kaminfeuer</strong>.
</p>
<p>
	Este linaje, reivindica el derecho de su líder supremo, Schlot, que en
	verdad es el progenitor (literalmente hablando, por 
	<a href="/descendientes">el método enano</a>) de cientos de enanos de lava,
	que se han agrupado fanáticamente en torno al dictador, a gobernar
	las <strong>Pozas de Magma</strong>.
</p>
<div class="row">
	<div class="col-lg-8">
		<p>
			En el lado opuesto, los llamados por los embajadores imperiales:
			<strong>enanos de fuego</strong>. Estos enanos, hicieron el juramento
			de los reyes enanos contra el Caos. (Al contrario que Kaminfeuer,
			que los maldijo por pusilánimes y colaboracionistas)
		</p>
		<p>
			A su vez, un pequeño grupo de enanos, llamados <strong>retacos rojos</strong>,
			son conocidos por su neutralidad en el conflicto. Algunos piensan, que los
			retacos rojos, en verdad hace tiempo que sucumbieron a los poderes del Caos.
			No en vano, en un pasado lejano, fueron uno de los linajes que rendieron
			pleitesía entre los temibles <strong>Enanos del Caos</strong>, junto con
			la inmensa mayoría de <a href="/clan/La corte de Obsidiana">la Corte
			de Obsidiana</a>.
		</p>
	</div>
	<div class="col-lg-4">
		<img src="/images/razas/clanes/enanoslava2.png" alt="enano matador de lava"
				 class="img-fluid img-thumbnail">
		Enano de lava matador
	</div>
</div>