<h2>Leviathanes</h2>
<hr>

<p class="text-justify">
	Las <strong>Islas del Hierro</strong> son un territorio extraño en el
	Norte del Viejo Mundo. A pesar de su latitud, el clima es agradable,
	posiblemente motivado por la geografía, plagada de islas volcánicas,
	y la cercanía a las emanaciones de las energías que provinenen de los
	<a href="/vientos">vientos de la magia</a>.
</p>
<p class="text-justify">
	En esta región de archipiélagos y aguas caprichosas, se cree que las
	mareas permiten el tránsito entre mundos. Entre el mismísimo
	<strong>Jötunheim</strong> y el <a href="/mapa">Viejo Mundo</a>.
	De aquí provienen los <strong>Leviathanes</strong>. Los Leviathanes,
	son <a href="/personaje/tiefling">tieflings</a>, el resultado de la unión
	carnal entre los "thanes", como se conoce a los gobernantes de las
	poblaciones de gigantes, y los grandes demonios que cruzaron el Mar
	del Norte hasta alcanzar las islas.
</p>

<h3>Historia de las islas del Hierro</h3>
<div class="row">
	<div class="col-lg-8">
		<p class="text-justify">
			Al igual que ocurriría en el Viejo Mundo, la clase gobernante (los Thanes),
			utilizó la alianza con los demonios para afianzar el poder y finalmente
			someter de forma casi totalitaria a su pueblo. Los <strong>Leviá</strong>,
			como se autodenominan los sacerdotes guerreros de su pueblo, hicieron
			frente a los Leviathanes en una guerra civil que aún perdura.
		</p>
		<p class="text-justify">
			En esta vorágine de luchas internas, hubo un claro ganador. El
			<a href="/criatura/caóticos">Caos</a>, ya que con su mácula sobre los Thanes,
			y las masacres posteriores a su influencia en las islas, se fortalecía
			su influencia y su poder. Pronto comenzaron a brotar rebeliones entre
			los gigantes. Hartos del sometimiento de los Leviathanes, buscaron ayuda
			en el antiguo culto de los <strong>Señores de Kraken</strong>.
		</p>
		<p class="text-justify">
			Entre ellos, la joven <a href="/pnj/Agarha">Agarha</a>, logró vencer a los
			acólitos del Caos, unificó las islas y se convirtió en <strong>Jarl</strong>
			(Thane de Thanes) de las islas. Muchos Leviathanes y señores del Kraken
			rindieron pleitesía a la <strong>Reina de Hierro</strong>. No obstante,
			enaltecidos por el veneno de las palabras de los acólitos, aún muchos
			Leviathanes buscan destronar a la Reina.
		</p>
	</div>
	
	<div class="col-lg-4">
		<img src="/images/razas/clanes/Leviathan1.png" alt="Leviathan"
				 class="img-fluid img-thumbnail">
		Leviathan caminante
	</div>
</div>
<p>
	<div class="card bg-light">
		<div class="card-header">
			La Reina Agarha
		</div>
		<div class="card-body">
			<blockquote class="blockquote">
				<i class="fas fa-quote-left"></i>
				<p>
					El poder del Kraken no reside en la magia primigenia del corazón
					de las <strong>islas del Hierro</strong>. El poder del Kraken,
					es una manifestación de nuestro verdadero poder, de nuestro corazón.
					Si bien es cierto, que los Dioses Antiguos velan por nuestro pueblo,
					los nuevos dioses, solo buscan nuestra ruina y sometimiento.
				</p>
				<p class="font-italic">
					¡Yo, Agarha de la isla de Lanzarrecife, Thane de mi pueblo,
					orgullosa practicante de la sabiduría de los Dioses Antiguos,
					os conmino a cumplir vuestro juramento! ¡Uníos a mí, Jotuns!
				</p>
				<footer class="blockquote-footer text-right">
					<a href="/pnj/Agarha">Agarha</a> (Jarl jotun), discurso durante la
					<cite title="Eddas del Valhalla">
						Guerra de las Islas
					</cite>
				</footer>
			</blockquote>
		</div>
	</div>
</p>

<h3>Personajes Leviathanes</h3>
<div class="row">
	<div class="col-lg-4">
		<img src="/images/razas/clanes/Leviathan2.png" alt="Leviathan"
				 class="img-fluid img-thumbnail">
		Leviathan caminante
	</div>
	<div class="col-lg-8">
		<p class="text-justify">
			Algunos Leviathanes buscan <a href="/habilidad/vengador">venganza</a>,
			contra los poderes del Caos que pervirtieron a sus parientes. Estos
			Leviathanes no tienen escrúpulos en usar la
			<a href="/tenebro">Magia Oscura</a>, los poderes del
			<a href="/agua/1">agua</a> o cualquier medio a su alcance para
			combatir el Caos. Incluso algunos, usan su energía demoníaca innata,
			para <a href="/habilidad/brujo">conjurar esbirros infernales</a>,
			que sirvan a sus propósitos.
		</p>
		<p class="text-justify">
			Finalmente, los extraños <a href="/habilidad/caminante">caminantes</a>
			Leviathanes, suelen viajar por el archipiélago, en busca de respuestas;
			comprender finalmente cuál es su destino en las islas y lograr
			ser aceptados por sus semejantes.
		</p>
	</div>
</div>