<h2>Hijos de Fenrir</h2>
<hr>

<p>
	La tribu del Lobo, son varios colectivos de nómadas de las estepas y montañas
	al norte del Imperio. Su estilo de vida es austero. Se basa en la caza,
	como principal actividad económica, de la que obtienen pieles y alimento.
	Aunque no hay ningún bárbaro lo suficientemente irrespetuoso como para
	proclamarse Rey de Lobos, generalmente suelen escuchar los consejos del
	más veterano de la tribu al que llaman <strong>Viejo Lobo</strong>.
</p>
<p>
	El contacto con otros pueblos bárbaros suele ser esporádico, generalmente
	para celebraciones de carácter religioso. En la medida de lo posible,
	intentan abstenerse de formar asentamientos, ya que es contrario a su
	forma de vida. Respecto al comercio, tienen en buena estima a los
	<a href=/raza/enanos>enanos</a>, ya que los maestros forjadores les
	proporcionan armas y herramientas con las que abastecerse.
</p>
<p>
	<div class="card bg-light">
		<div class="card-header">
			Sköll y Hati
		</div>
		<div class="card-body">
			<blockquote class="blockquote">
				<i class="fas fa-quote-left"></i>
				<p>
					Dos lobos, <strong>Sköll</strong> y <strong>Hati</strong>,
					vivían en el Gran Bosque. Los primeros hombres, cazaban rumiantes
					en el arroyo y la comida empezó a escasear.
					<strong>Hati</strong>, no pudo soportarlo más penurias
					y se acercó al poblado, donde le domesticaron como un perro más.
				</p>
				<p>
					Años más tarde, los humanos junto a Hati, buscaban presas en
					el Gran Bosque. Allí se encontraba <strong>Sköll</strong>,
					herido y tendido sobre una trampa mortal que los humanos
					habían colocado. Cuando <strong>Sköll</strong>
					vio a <strong>Hati</strong>, comenzó a reír.
				</p>
				<p>
					<strong>Hati</strong> le increpó por qué reía. Recordándole
					que él había vivido con los humanos, siempre bajo techo y con
					la panza llena de carne. <strong>Sköll</strong> le replicó:
				</p>
				<p class="font-italic">
					Yo nací lobo, viví como un lobo y voy a morir como un lobo.
				</p>
				<footer class="blockquote-footer text-right">
					Gunnr, cuentacuentos valquiria en
					<cite title="Eddas del Valhalla">
						Eddas del Valhalla
					</cite>
				</footer>
			</blockquote>
		</div>
	</div>
</p>

<h3>Cazadores y guerreros</h3>
<p>
	La tundra no es un lugar fácil. Repleta de
	<a href="/criatura/pielverdes/">piel verdes</a>,
	y otra suerte de peligros, los Hijos de Fenrir deben aprender temprano
	a manejar la espada y el arco, ya que deben ser capaces de subsistir
	de la caza. Tales condiciones, endurecen su carácter y les confieren
	una forma física portentosa. Hasta el muchacho más jovencillo es capaz
	de empuñar un arma y presentar batalla con fiereza.
</p>
<p>
	Algunos bárbaros de la tribu del Lobo, consagran su vida a las armas.
	Exaltados y fanáticos guerreros, enaltecidos por las promesas de las
	valquirias, llenan sus cuerpos de tatuajes rituales y venden su
	talento al mejor postor como <a href="/habilidad/bersérker">bersérkers</a>.
</p>
<p>
	Otros, también llamados Lobos Alpha, reciben un entrenamiento muy particular,
	siendo abandonados de niños en la tundra, dónde deben aprender a sobrevivir,
	quizás domesticando a otros cazadores, como los
	<a href="/habilidad/señor de las bestias">Señores de las bestias</a>
	o pidiendo ayuda a los enanos de las montañas, a cambio de
	un servicio militar de 12 años como infantería
	<a href="/habilidad/hoplita">hoplita</a>.
</p>

<h3>Civilización, religión y sociedad</h3>
<p>
	Los Lobos no saben leer ni escribir. Es ineficiente para su estilo de vida,
	ya que es mucho más práctico aprender a desollar pieles, manejar la espada,
	rastrear huellas y eludir a los depredadores. Son un pueblo pragmático,
	que conoce las prioridades. Solo algunos, que han dejado la tundra gélida,
	conocen cómo funciona el comercio en el Imperio, y siempre que hacen
	algún negocio con los enanos, pagan al contado. La contabilidad es un riesgo,
	que quien comercia con las tribus nómadas no puede asumir.
</p>
<p>
	Respecto a los dioses, veneran a Fenrir, el gran lobo, a las valquirias,
	que consideran las concubinas de Amris, el creador del mundo. Creen que
	su mundo está en mitad de otros 6 y practican su fé, cosechando gloria,
	con la esperanza de morir en combate y volver a nacer como lobos,
	espíritus libres que al morir, subirán al Firmamento con Fenrir,
	para cazar ciervos eternamente en la estepas de la noche.
</p>
<p>
	Su sociedad, está fuertemente marcada por estos preceptos, y no distinguen
	entre varones y mujeres, ya que cualquiera que demuestre vigor y resolución,
	tiene todo el derecho a alcanzar el Valhalla. No en vano, esta tribu cree,
	que los recién nacidos amamantados con leche de loba, son capaces de
	sangrar durante una luna y vivir para contarlo. Es por ello, que siempre
	hay algún lobo medio domesticado cerca de las yurtas dónde descansan.
</p>
<p>
	<div class="card bg-light">
		<div class="card-header">
			El corazón dividido
		</div>
		<div class="card-body">
			<blockquote class="blockquote">
				<i class="fas fa-quote-left"></i>
				<p>
					En el corazón de los hombres hay dos lobos luchando.
					Uno negro y otro blanco. Tras los años he comprendido qué
					lobo acaba ganando siempre.
				</p>
				<p class="font-italic">
					El que más alimentes
				</p>
				<footer class="blockquote-footer text-right">
					<a href="/hero/32">Trag 'al, Señor del Norte</a> en
					<cite title="Eddas del Valhalla">
						Edda de los viajes
					</cite>
				</footer>
			</blockquote>
		</div>
	</div>
</p>

<h3>Héroes de la tribu del Lobo</h3>
<p>
	Al ser el clan por defecto del personaje
	<a href="/personaje/bárbaro">bárbaro</a>, esta tribu es la más numerosa
	dentro de las ciudades del Imperio. Su arma incial suele ser una
	<strong>espada ancha</strong> y su armadura una
	<strong>cota de cuero</strong>. Generalmente, muestran interés por
	recompensas como la reputación, así como el oro, pues han comprendido
	el valor de atesorar dicho metal. Casi todos aspiran a convertirse en
	leyendas para su tribu y honrar así al espíritu del gran lobo Fenrir.
</p>