<h2>Tribu de la serpiente</h2>
<hr>

<p class="text-justify">
	Desde hace siglos, las zonas pedregosas de las montañas del Norte han
	sido el hogar de los <a href="/personaje/bárbaro">bárbaros</a>. Un
	lugar inhóspito lejos de la civilización y de las comodidades del Imperio.
</p>
<p class="text-justify">
	Entre las montañas, diferentes grupos de nómadas se han asociado
	en tribus, siendo la más numerosa la
	<a href="/clan/Tribu del Lobo">Tribu del Lobo</a>. Cada grupo, ha
	ocupado una región distinta, según su forma de vida.
</p>
<p class="text-justify">
	Y de todas estas regiones, la región de arenas reptantes, plagada
	de desniveles y cárcavas de grietas profundas, era sin duda la más
	peligrosa y siniestra. Decenas de tribus de
	<a href="/criatura/pielverdes">orcos y goblins</a> reclaman esta
	zona como suya, y las manadas de rumiantes nunca ascienden
	más allá de la tunda helada, por lo que	el alimento escasea.
</p>
<p class="text-justify">
	Aquí habita la <strong>Tribu de la Serpiente</strong>. Al amparo del cielo
	del Norte, sobreviven cazando reptiles, combatiendo a los territoriales
	orcos y practicando los ritos y costumbres de su tribu. En definitiva,
	ellos tienen la tierra que las demás tribus no quieren. No les importa,
	porque generalmente, todos necesitan cruzar su área de influencia
	en algún momento. Y eso supone intercambio. Y casi siempre lucrativo.
	En general, venden sus servicios a los aventureros que desean cruzar las
	cárcavas, como guías o escolta, para evitar a los furiosos orcos.
</p>

<h3>El poder de la serpiente</h3>
<p class="text-justify">
	La serpiente es el animal totémico de esta tribu. Durante la lactancia,
	la madre ofrece la pantorrilla del bebé a una
	<strong>serpiente de cascabel</strong>. Estas serpientes,
	venenosas, son muy abundantes en la zona. Estos reptiles, atacan con
	ferocidad los tobillos de los invasores de su territorio, tras advertirles
	con un característico sonido. La tribu de la serpiente, incia a los
	neonatos en este característico ritual para fortalecer sus espíritus.
	En contra de las leyes de la naturaleza, el vástago sobrevive habitualmente.
</p>
<p class="text-justify">
	Y cuando eso ocurre, la tribu celebra un ritual. El nuevo miembro de la tribu
	es homenajeado con un banquete, en el que comen lagarto. Mezclan la sangre
	con la leche materna y le entregan un sonajero de cascabel. Al alcanzar
	la edad adulta, marcan su piel con escamificaciones y rajan sus lenguas,
	para dividirlas como una serpiente. Su veneración por la serpiente
	marca sus vidas. El resto de tribus no comparte su estilo de vida,
	pero a la tribu no le importa, porque solo ellos saben sobrevivir en esta
	región.
</p>

<h3>La lucha contra el Caos</h3>
<p class="text-justify">
	La fuerza de la Serpiente, se manifestó en las invasiones del Caos.
	Si bien la denostada <strong>Tribu del Carnero</strong> unió sus fuerzas
	a las huestes de bárbaros del Caos, con mucha más afinidad a las terribles
	costumbres del <a href="/criatura/caóticos">ejército caótico</a>, la
	Serpiente se mantuvo fuerte. Cuando la pestilencia de <strong>Nurgle</strong>
	avanzó por los valles y tundras de los bárbaros, la serpiente usó sus
	conocimientos balsámicos y sus 
	<a href="/profesion/ritualismo">rituales</a> para salvar a su gente.
</p>
<p class="text-justify">
	Muchos jefes tribales, habían menospreciado a los escasos miembros de la
	serpiente. Incluso rozaron la deshonra en los primeros enfrentamientos,
	excluyéndoles de las escaramuzas y las principales batallas.
	Tras la inestimable ayuda contra Nurgle y su eficaz control sobre los
	orcos y goblins, las demás tribus reconocieron su labor.
</p>
<p class="text-justify">
	Por ello, cuando un <strong>Serpiente</strong> abandona las cárcavas,
	todos los campamentos le ofrecen asilo y bienvenida, conocedores de la
	relevancia de la visita. Y es que rara vez son portadores de buenas
	noticias, pues su cultura de supervivencia no es compatible. Ningún
	jefe tribal osaría desatender las demandas de la tribu de la Serpiente,
	ya que son la primera línea de defensa del conjunto
	<a href="/raza/humanos">humanidad</a> contra el Caos.
</p>