<h2>Valari</h2>
<hr>

<div class="row">
	<div class="col-lg-8">
		<p class="text-justify">
			Hace mucho tiempo, cuando los primeros
			<a href="/raza/elohims">elohim</a> poblaron el Viejo Mundo, dividieron
			la tierra en cuatro regiones. Muchos han olvidado el destino de los
			<strong>elohim meridionales</strong>, qué pasó con su Firmamento
			y dónde están ahora.
		</p>
		<p class="text-justify">
			La secta de los <strong>Valari</strong> tiene respuestas a esas preguntas.
			Pero guardan el misterio. Es tan fuerte el celo por sus tradiciones y
			conservar sus secretos, que han declarado su hogar simplemente:
			<strong class="font-italic">Prohibido</strong>. Sus agentes, también
			llamados "Valari" habitan en lo profundo del 
			<strong>Desierto Prohibido</strong> en una ciudadela llamada:
		</p>
		<p><strong class="font-italic">Al Mutt Rha'akaz</strong></p>
		<p class="text-justify">
			En su templo-fortaleza, los Valari han logrado conservar el conocimiento
			perdido de sus ancestros, y un firme deseo de restablecer el esplendor
			del que antaño gozó su secta.
		</p>
	</div>
	<div class="col-lg-4">
		<img src="/images/razas/clanes/valari2.png" alt="Valari caminante"
				 class="img-fluid img-thumbnail">
		Valari caminante
	</div>
</div>

<h3>La fuente del Mundo</h3>
<div class="row">
	<div class="col-lg-8">
		<p class="text-justify">
			En la primera era, un lugar conocido como Rha'akaz era un crisol
			de gentes. Conocida por los <a href="/raza/rakshasas">rakshasas</a>,
			los <a href="/raza/elfos">elfos</a> y los primeros
			<a href="/raza/humanos">humanos</a>, Rha'akaz era una gran metrópolis,
			en un valle de abundantes recursos. El <strong>agua</strong>, era el
			<i class="font-italic">leitmotiv</i> de la ciudad, que basaba su
			coexistencia en un gigantesco manantial, conocido como
			<strong>la fuente de <i>Am Rha'a</i></strong> (la fuente del Creador).
		</p>
	</div>
	<div class="col-lg-4">
		<img src="/images/razas/clanes/valari1.png" alt="La Fuente sagrada"
				 class="img-fluid img-thumbnail">
	</div>
</div>
<p class="text-justify">
	Según las leyendas, todo el agua del <a href="/mapa">Viejo Mundo</a>,
	de sus mares, ríos, manatiales y océanos, manaba de Am Rha'a. Los
	elohim, usaban sus aguas para entregar su esencia inmortal a los
	ciudadanos de Rha'akaz. De esta manera, los primeros hombres, pudieron
	aprender los secretos de la creación y la magia. Los leónidos,
	por entonces unidos en las 3 tribus, aprendieron a controlar sus
	espíritus...
</p>
<p class="text-justify">
	Pero, no todos los habitantes de Rha'akaz estaban conformes. Los elfos,
	querían comprender el portal meridional. Estudiaron los
	<a href="/vientos">vientos de la magia</a> y descubrieron que en el
	helado continente al Norte del mundo, existía un portal equivalente,
	polarizado en sentido opuesto. Una fuente de poder que los elohim habían
	ocultado deliberadamente. La fuente del Mundo, no era el único nodo
	que les conectaba a la Divinidad. Los <strong>elfos</strong>, enfurecieron
	al comprender el monopolio injusto al que se habían expuesto.
</p>

<h3>El engaño del Caos</h3>
<p class="text-justify">
	Los <a href="/raza/elfos">elfos</a>, descubrieron que la inmortalidad
	de su pueblo, al contrario que otras razas de Rha'akaz, fue concedida
	por el Creador y no era necesario el poder de <strong>la Fuente</strong>.
	¡Ellos eran inmortales por naturaleza! ¡Así lo había querido Am Rha'a!
</p>
<p class="text-justify">
	Así pues, contactaron con las oscuras energías de más allá de la Fuente,
	que confirmaron estos secretos. Algunos elohim, incluso les alentaron,
	atraídos por el poder que no lograban comprender en su totalidad.
</p>
<p class="text-justify">
	No está claro cómo ocurrió. El cataclismo borró en las arenas del tiempo
	los rastos de esta civilización en Rha'akaz. Los <strong>Valari</strong>
	creen firmemente que Am Rha'a no eligió a los elfos, que éstos fueron
	engañados. Descendientes de los elohim caídos por las fuerzas del Caos,
	el linaje de los Valari comparte ancestros con aquellos humanos que habitaron
	Rha'akaz. Los verdaderos elegidos por Am Rha'a.
</p>
<p class="text-justify">
	¿Y qué obtuvo el Caos en todo esta catástrofe? Los Valari piensan,
	que los elfos de Rha'akaz sentenciaron a su raza con la maldición de
	<a href="/clan/Elfos Pouvert">los elfos Pouvert</a>, arrojaron a los
	rakshasas a las garras de una vida primitiva y salvaje, y propiciaron
	la caída del Firmamento meridional.
</p>
<p>Y todo, por el alma codiciosa de los elfos</p>

<h3>Personajes Valari</h3>
<div class="row">
	<div class="col-lg-4">
		<img src="/images/razas/clanes/valari3.png" alt="Valari brujo"
				 class="img-fluid img-thumbnail">
		Valari brujo
	</div>
	<div class="col-lg-8">
		<p class="text-justify">
			Acogidos por su secta, los descendientes de los
			<a href="/raza/tieflings">tiefling</a> de <strong>Rha'akaz</strong>,
			son siempre bienvenidos en la ciudad forjada en sus ruinas: Al Mutt Rha'akaz.
			Privados de la energía poderosa de la Fuente, custodian los últimos
			resquicios del antaño rebosante manantial, sumergidos entre toneladas
			de arena. Allí en lo más profundo de la fortaleza-templo, el culto a Elmut,
			gobierna a los <strong>Valari</strong>, para lograr redimir las
			consecuencias del cataclismo.
		</p>
		<p class="text-justify">
			Como <a href="/habilidad/vengador">vengadores</a>, se unirán a cualquier
			causa que luche contra la perfidia del Caos, pues acusan al Poder del Caos
			de la destrucción de su amada civilización. Los que optan por desentrañar
			el misterio, los <a href="/habilidad/caminante">caminantes negros</a>,
			prefieren recorrer la tenebra para encontrar la clave que les devuelva
			todo lo que han perdido.
		</p>
		<p class="text-justify">
			Por otro lado, entre los Valari, se encuentras los 
			<a href="/habilidad/vengador">brujos sombríos</a>, especialistas en
			el tejido mágico que entrañan las maldiciones. Los brujos sombríos
			son capaces de atesorar grandes cantidades de
			<a href="/sombra/1"> magia de sombras</a>, gracias al vacío espiritual
			que la traición del Caos ha dejado en las almas Valari.
		</p>
	</div>
</div>
