<div class="card">
	<div class="card-header">Biblioteca</div>
	<a href="/biblioteca">
		<img src="/images/ciudad/biblioteca.png" alt="Biblioteca" class="card-img-top">
	</a>
	<div class="card-body">
		<p class="card-text">
			Después de cada reto, los personajes agotados
			pueden relajarse en la biblioteca, para recuperar los puntos de mente
			que les falten. !Salvo los forajidos!
		</p>
	</div>
</div>