<% h = hero(params[:param].to_i) %>

<div class="table-responsive">
	<table class="table table-striped table-bordered table-hover table-sm">
		<thead class="thead-dark">
			<tr>
				<th colspan=2 class="text-center">Amuletos</th>
			</tr>
			<tr>
				<td width='80%'>Amuleto Izquierdo</td>
					<td>
						<% if a = h.amuletos.first %>
							<%= erb :'display/item', locals: { item: a } %></td>
						<% else %>
							<%= erb :'display/ranura' %>
						<% end %>
					</td>
				</td>
			</tr>
			<tr>
				<td width='80%'>Amuleto Derecho</td>
					<td>
						<% if a = h.amuletos[1] %>
							<%= erb :'display/item', locals: { item: a } %></td>
						<% else %>
							<%= erb :'display/ranura' %>
						<% end %>
					</td>
				</td>
			</tr>
		</thead>
	</table>
</div>