<% h = hero(params[:param].to_i) %>

<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th class="text-center" colspan="<%= h.elementos.count %>">
					<a href="/spells/<%= h.id %>">Lista de hechizos</a>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<% h.elementos.each do |e| %>	
					<td>
						<%= erb :'display/display', locals: {
						title:       e,
						path:        "'../images/elements/#{e}.png'",
						description: '' } %>
					</td>
				<% end %>
			</tr>
		</tbody>
	</table>
</div>