<% h = hero(params[:param].to_i) %>

<div class="table-responsive">
	<table class="table">
		<theader>
			<tr>
				<th colspan='<%= h.materiales.count if h.materiales %>' class="text-center">
					Materiales
				</th>
			</tr>
		</theadr>
		<tbody>
			<tr>
				<% if h.materiales %>
					<% h.componentes.each do |m| %>
						<td><%= erb :"display/item", locals: { item: m } %></td>
					<% end %>
				<% else %>
					<td>Sin materiales</td>
				<% end %>
			</tr>
		</tbody>
	</table>
</div>