<% h = hero(params[:param].to_i) %>

<h2>Tesoros</h2>

<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<% %w(gemas runas joyas).each do |engarce| %>
					<% if tesoros = h.tesoro[engarce] %>
						<th class="text-center" colspan="<%= h.tesoro[engarce].count %>">
							<%= engarce.capitalize %>
						</th>
					<% else %>
						<th class="text-center"/>
					<% end %>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<tr>
				<% %w(gemas joyas runas).each do |engarce| %>
					<% if tesoros = h.tesoro[engarce] %>
						<% tesoros.each do |t| %>
							<td>
								<%= erb :"display/engarce", locals: {
										engarce: send(engarce)[t] } %>
							</td>
						<% end %>
					<% else %>
						<td>El héroe no tiene <%= engarce %>.</td>
					<% end %>
				<% end %>
			</tr>
		</tbody>
	</table>
</div>