<h2>Tabla de Armas</h2>
<hr>
<%= slim :'objetos/armas/tabla' %>

<div class="alert alert-info alert-dismissible fade show" role="alert">
	<i class="fas fa-location-arrow" aria-hidden="true"></i> :
	Permite atacar en diagonal
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>