<h2>Las joyas</h2>
<hr>
<p>
	Las joyas son piezas maestras de orfebrería que emiten un pulso arcano
	por sí mismas, canalizando la energía de los vientos de la magia. 
</p>
<p>
	Las joyas pueden aparecer en una tirada de tesoros o como recompensa.
	Todas las joyas comunes se venden por 50 piezas de oro, que son
	un recurso muy apreciado por los héroes ya que al ser engarzadas
	en el equipo confieren propiedades mágicas. Cada joya engarzada
	ocupa una ranura vacía, exactamente igual que el resto de piezas de engarce.
</p>

<h3>Lista de joyas de engarce</h3>
<%= slim :'objetos/joyas/tabla' %>