<h2>Las joyas</h2>
<hr>

<div class="alert alert-secondary alert-dismissible fade show" role="alert">
	Las joyas pueden aparecer en una tirada de 
	<a href="/tesoros" class="alert-link">tesoros</a> o como recompensa de Reto.
	Se pueden vender por 50
	<i class="fas fa-database text-warning"></i>
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<p class="text-justify">
	Son un recurso muy apreciado por los héroes ya que al ser engarzadas
	en el equipo confieren propiedades mágicas.
	Cada joya engarzada ocupa una ranura vacía, exactamente igual
	que el resto de piezas de engarce.
</p>

<h3>Lista de joyas de engarce</h3>
<%= slim :'objetos/joyas/tabla' %>