<h2>Las runas</h2>
<p>
	 Las runas m치gicas son diferentes en forma y detalle a las runas ordinarias,
	 pero lo que convierte a una runa en m치gica es principalmente c칩mo y
	 cu치ndo fue grabada. 
</p>

<h3>Lista de runas</h3>
<%= slim :'objetos/runas/tabla' %>