<h2>Las runas</h2>
<hr>
<div class="alert alert-secondary">
	 Las runas m치gicas son diferentes en forma y detalle a las runas ordinarias,
	 pero lo que convierte a una runa en m치gica es principalmente c칩mo y
	 cu치ndo fue grabada. 
</div>

<h3>Lista de runas</h3>
<%= slim :'objetos/runas/tabla' %>