<a href="/habilidad/<%= params[:param] %>">
	<img src="/images/clases/<%= params[:param] %>.png" 
			 alt='<%= params[:param] %>'
			 class="img-responsive"	/>
</a>
<%= erb :'personajes/left/fama', locals: { pj: params[:param] } %>