<h2>Personajes</h2>
<hr>

<div class="list-group">
	<% personajes.each do |p| %>
		<% active = params[:param] == p ? 'active' : '' %>
		<a  class="list-group-item <%= active %>"
				href='/habilidad/<%= p.gsub('señor de las bestias','beastslord') %>' >
			<%= p.capitalize %>
		</a>
	<% end %>	
</div>
<br>