<h2>Lenguas</h2>
<hr>

<p class="text-justify">
	En el Viejo Mundo se hablan muchas lenguas. Cada raza, cada civilización,
	desde su origen utilizaban idiomas distintos. En algunas ocasiones,
	las diferentes lenguas se utilizaron para la magia, para poder comunicarse
	con los dioses, en rituales o por herencias culturales de canciones y otras
	expresiones artísticas.
</p>

<p class="alert alert-dark" role="alert">
	La lengua más habitual es el <strong>Viejomundando</strong> cuyo uso fue
	adoptado gracias a la expansión de los reinos humanos, la raza más prolífera.
	Algunas otras como el <strong>belítico</strong>, son lenguas muertas.
</p>

<h3>Aprender una lengua</h3>
<p class="text-justify">
	Cada vez que un personaje obtiene 1PM permanente (al subir de nivel),
	puede aprender la lengua de un compañero de su ciudad que tenga a bien
	de enseñársela (requiere alfabetización, por lo que los bárbaros no podrían,
	salvo circunstancias excepcionales).
</p>
<p class="text-justify">
	Si en su defecto desea aprender una lengua muerta o desconocida, además se
	debe desbloquear in-rol su aprendizaje. (Consultar con el Malvado Brujo).
	Algunos objetos con inteligencia, o PNJ's pueden enseñar estas lenguas.
</p>
<p class="text-justify">
	En cualquier caso, el jugador lanzará 2 dados de combate. Con un éxito
	(escudo blanco)	aprenderá a hablar la lengua. Con 2 éxitos, además
	aprenderá su escritura/lectura (si esto fuera posible). Adicionalmente,
	los jugadores menos afortunados podrán invertir hasta 2 puntos de experiencia
	para añadir éxitos automáticos a la tirada.
</p>
<p class="text-justify">
	En caso de que los eruditos de la Biblioteca conozcan la lengua, y estén
	dispuestos a enseñarla al personaje, se tirará 1 dado adicional.
	Si varios aliados desean ayudar al personaje, se tirará 1 dado adicional.
</p>

<h3>Lista de lenguas y dialectos</h3>
<hr>
<%= slim :"personajes/lenguas/tabla" %>
