<h2>Lenguas</h2>
<p>
	En el Viejo ...
</p>

<h3>Lista de lenguas y dialectos</h3>
<ul>
	<li>lengua común</li>
	<li>élfico</li>
	<li>khuzdul</li>
	<li>dracónico</li>
	<li>silvano</li>
	<li>lengua negra</li>
	<li>lengua arcana</li>
	<li>lengua primigenia</li>
</ul>