<h2>Personajes</h2>
<hr>
<p>
	Cuando un jugador inicia su primera partida,
	deberá escoger un personaje entre los 4 personajes iniciales:
</p>
<%= slim :'personajes/principal/iniciales' %>

<h3>Características principales del personaje</h3>
<%= slim :'personajes/principal/elegir' %>

<h3>Especializaciones</h3>
<%= slim :'personajes/principal/especializaciones' %>
