<div class="alert alert-warning alert-dark fade show" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="alert-heading">Datos Curiosos</h4><hr class="mt-0">
	El <strong><%= porcentaje_heroes_con_familiar %>%</strong>
	de los héroes tiene familiar, de los cuáles el 
	<strong><%= porcentaje_familiares_torpes %>%</strong> es torpe.
</div>