<h2>Las profesiones</h2>
<hr>
<h3>
	<i class="fas fa-graduation-cap"></i>
	Profundizar en una profesión
</h3>
<p>
	Cuando un personaje completa un reto con éxito, puede invertir su oro
	para avanzar en su profesión. Para poder aprender recetas de aprendiz,
	es necesario desbloquear la primera receta (aprendizaje). Lo mismo ocurre
	para aprender recetas de artesano y posteriormente de maestro.
</p>
<p>
	Además, es necesario conocer:
	<dl class="row">
		<dt class="col-lg-5">5 recetas de aprendiz</dt>
		<dd class="col-lg-7">para poder desbloquear la artesanía</dd>

		<dt class="col-lg-5">10 recetas de la profesión</dt>
		<dd class="col-lg-7">(independientemente del rango) para aprender la maestría.</dd>
	</dl>
</p>

<div class="alert alert-secondary" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
	<h4 class="alert-heading">
		<i class="fas fa-hand-holding-usd"></i>
		El trabajo de cada día
	</h4>
	<hr>
	<p>
		El personaje, mientras no está en las aventuras
		se dedica básicamente a su profesión.
		Por este motivo, obtiene un bonificador por cada grado
		de profesión que tenga:
	</p>
	<dl class="row">
		<dt class="col-lg-6">Aprendiz</dt>
		<dd class="col-lg-6">+1 renta</dd>
		<dt class="col-lg-6">Artesano</dt>
		<dd class="col-lg-6">+3 rentas</dd>
		<dt class="col-lg-6">Maestro</dt>
		<dd class="col-lg-6">+10 rentas</dd>
	</dl>
</div>

<h3>No todo el mundo puede hacer de todo</h3>
<p>
	Cada personaje tiene un impedimento laboral. Consulta la siguiente tabla,
	para saber cuál es la profesión vetada a cada personaje:
</p>
<p><%= slim :'personajes/profesiones/lista' %></p>
