<div class="row">
	<div class="col-lg-12">
			<h2 class="page-header">Mapa del Viejo Mundo</h2>
	</div>
	
	<div class="col-lg-12">

		<ul id="myTab" class="nav nav-tabs nav-justified">
				<li class="active">
					<a href="#geo" data-toggle="tab">
						<i class="fa fa-map-signs fa-fw" aria-hidden="true"></i>
						Geografía
					</a>
				</li>
				<li class="">
					<a href="#reinos" data-toggle="tab">
						<i class="fa fa-fort-awesome" aria-hidden="true"></i>
						Principales Reinos
					</a>
				</li>
				<li class="">
					<a href="#monturas" data-toggle="tab">
						<span class="glyphicon glyphicon-knight"></span>
						Monturas
					</a>
				</li>
				<li class="">
					<a href="#mapa" data-toggle="tab">
						<i class="fa fa-map-o" aria-hidden="true"></i>
						Ver Mapa
					</a>
				</li>
		</ul>

		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade active in" id="geo">
				<h4>Geografía</h4>
				<%= erb :"mapa/tabs/geo" %>
			</div>
			<div class="tab-pane fade" id="reinos">
				<h4>Principales Reinos</h4>
				<%= erb :"mapa/tabs/reinos" %>
			</div>
			<div class="tab-pane fade" id="monturas">
				<h4>Monturas</h4>
				<p>Por hacer...</p>
			</div>
			<div class="tab-pane fade" id="mapa">
				<%= erb :"mapa/tabs/mapa" %>
			</div>
		</div>

	</div>
</div>