<div class="row">
	<div class="col-lg-12">
			<h2 class="page-header">Mapa del Viejo Mundo</h2>
	</div>
	
	<div class="col-lg-12">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a href="#geo" class="nav-link active" data-toggle="tab">
						<i class="fa fa-map-signs fa-fw" aria-hidden="true"></i>
						Geografía
					</a>
				</li>
				<li class="nav-item">
					<a href="#reinos" class="nav-link" data-toggle="tab">
						<i class="fab fa-fort-awesome" aria-hidden="true"></i>
						Principales Reinos
					</a>
				</li>
				<li class="nav-item">
					<a href="#monturas" class="nav-link" data-toggle="tab">
						<i class="fab fa-sticker-mule"></i>
						Monturas
					</a>
				</li>
				<li class="nav-item">
					<a href="#mapa" class="nav-link" data-toggle="tab">
						<i class="fas fa-map" aria-hidden="true"></i>
						Ver Mapa
					</a>
				</li>
		</ul>

		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="geo"
					 role="tabpanel" aria-labelledby="geo-tab">
				<%= slim :"mapa/tabs/geo" %>
			</div>
			<div class="tab-pane fade" id="reinos" role="tabpanel" aria-labelledby="reinos-tab">
				<%= slim :"mapa/tabs/reinos" %>
			</div>
			<div class="tab-pane fade" id="monturas" role="tabpanel" aria-labelledby="monturas-tab">
				<h4>Monturas</h4>
				<p>Por hacer...</p>
			</div>
			<div class="tab-pane fade" id="mapa" role="tabpanel" aria-labelledby="mapa-tab">
				<%= slim :"mapa/tabs/mapa" %>
			</div>
		</div>

	</div>
</div>