<h2>Monturas</h2>

<a href="/monturas">
	<img src="/images/monturas/monturas.jpg"
			 alt="monturas"
			 class="img-responsive" />
</a>

<p>
	Las monturas permiten a los héroes alcanzar destinos lejanos,
	sin sufrir penalizadores por recorrer largas distancias,
	o terrenos inhóspitos.
</p>