<h2>Monturas</h2>
<p>
	<a href="/monturas">
		<img src="/images/monturas/monturas.jpg"
				 alt="monturas"
				 class="img-fluid">
	</a>
	Las monturas permiten a los héroes alcanzar destinos lejanos,
	sin sufrir penalizadores por recorrer largas distancias,
	o terrenos inhóspitos.
</p>