<h2>El Valle de la Niebla</h2>
<hr>
<p>
	Texto por definir...
</p>

<h3>Las Palomas</h3>
<p>
	Los hombres no son los únicos seres capaces de acceder al templo
	de la niebla. Otras especies, siempre y cuando tengan el corazón puro,
	son capaces de traspasar el velo de la niebla.
	Este es el caso de las palomas. Algunos monjes del templo se dedican a
	la instrucción de palomas en el arte de la comunicación.
	Estas aves se convierten así en criaturas mágicas, con un sentido de la
	orientación único. Las palomas, son capaces de alcanzar cualquier destino
	aprendido de los libros de los monjes que las han instruido.
	Son entrenadas principalmente para la mensajería.
	Algunos han intentado perseguirlas en su afán por dar con el templo y
	es aquí donde las palomas muestran su potencial.
	Su instrucción en el templo les permite rasgar el velo de la niebla
	volviéndose invisibles a los ojos de sus "impuros" perseguidores.
</p>
<p>
	Lo único que podría distinguir a una paloma de la niebla de
	una paloma común a simple vista, es el anillo verde con la inscripción
	del templo de la niebla que portan en una de sus patas.
	De esta manera, los aliados de los monjes pueden comunicarse con el templo
	en caso de necesitar su ayuda.
</p>
<p>
	Las palomas son independientes aun incluso antes de comenzar
	su entrenamiento, es por ello que los monjes saben con facilidad
	cuándo una paloma esta en completa armonía zen antes de comenzar
	su entrenamiento. Cazan su propia comida y siempre andan buscando
	la forma de ayudar a mantener el equilibrio. Viven en libertad.
	Pobre de aquel que encierre a una paloma del templo pues pese a ser
	un ave pequeña, su capacidad innata le otorga un poder asombroso.
</p>