h2
	i class="fa fa-gavel" aria-hidden="true"
h4 class="card-title" El gremio de artesanos
p class="card-text"
	hr
	a href='/equipo'
		| Herrero: 
	a href='/armas'
		| armas, 
	a href='/armaduras'
		| armaduras, 
	a href='/protecciones'
		| protecciones 
	hr
	| Orfebre: 
	a href='/joyas' joyas, 
	a href='/gemas' gemas, 
	a href='/runas' runas, 
	a href='/miscelaneas' bisutería 
	hr
	a href='/piezas' Ingeniero
	hr
	a href="/pociones" Alquimista