<h4 class="text-center">
	<i class="fa fa-gavel" aria-hidden="true"></i>
	Gremio de Artesanos
</h4>
<hr/>
<ul>
	<li>
		<a href='/equipo'>Herrero:</a>
		<a href='/armas'>armas</a>,
		<a href='/armaduras'>armaduras,</a>
		<a href='/protecciones'>protecciones</a>
	<li>
		Orfebre:
		<a href='/joyas'>joyas,</a>
		<a href='/gemas'>gemas,</a>
		<a href='/runas'>runas,</a>
		<a href='/miscelaneas'>bisutería</a>
	</li>
	<li><a href='/piezas'>Ingeniero</a></li>
</ul>