<h4 class="text-center">
	<i class="fa fa-balance-scale" aria-hidden="true"></i>
	El Ayuntamiento
</h4>
<hr/>
<ul>
	<li><a href='/notaria'>Consejo de Notables</a></li>
	<li><a href='/palacio'>Palacio Imperial</a></li>
	<li><a href='/templo'>Templo de Sigmar</a></li>
</ul>