<h4>La Gran Biblioteca</h4>
<ul>
	<li><a href='/torre'>Torre de Magia</a></li>
	<li><a href='/escuelas'>Escuelas de magia</a></li>
	<li><a href='/magisters'>Magisters</a></li>
	<li><a href='/archivo'>Archivo del Cronista</a></li>
</ul>