<h4 class="text-center">
	<i class="fa fa-university" aria-hidden="true"></i>
	La Gran Biblioteca
</h4>
<hr/>
<ul>
	<li><a href='/torre'>Torre de Magia</a></li>
	<li><a href='/escuelas'>Escuelas de magia</a></li>
	<li><a href='/magisters'>Magisters</a></li>
	<li><a href='/archivo'>Archivo del Cronista</a></li>
</ul>