<h4 class="text-center">
	<i class="fa fa-shield" aria-hidden="true"></i>
	Los cuarteles
</h4>
<hr/>

<ul>
	<li><a href='/extranjeros/<%= params[:param] %>'>Héroes de la Ciudad</a></li>
	<li><a href='/maestrodearmas'>Maestro de Armas</a></li>
	<li><a href='/licenciados'>Muro de la Gloria</a></li>
	<li><a href='/monturas'>Los Establos</a></li>
</ul>