<div class="card">
	<div class="card-header">
		<h4>Bestiario</h4>
	</div>

	<a href='/combate'>
		<img class="card-img-top" src="/images/nav/bestiario.png" alt="Bestiario">
	</a>

	<div class="card-body">
		<a href='/criaturas'>Consultar</a>
	</div>
</div>