<h2>Bestiario</h2>
<hr>
<a href="/criaturas">
	<img src="/images/nav/bestiario.png" alt='Bestiario' class="img-fluid">
</a>

<ul class="link-list">
	<% criaturas.each do |c| %>
		<li><a href="/criatura/<%= c %>"><%= c %></a></li>
	<% end %>
</ul>