<% h = hero(params[:param].to_i) %>

<div class="table-responsive">
	<table class="table table-striped table-bordered table-hover table-sm">
		<thead class="thead-dark">
			<tr><% resistencias.each do |r| %>	
					<th><%= erb :'display/display', locals: {
							title:       r['nombre'], 
							path:        "'../images/elements/#{r['nombre']}.png'",
							description: r['description'] } %>
					</th>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<tr>
				<% resistencias.each do |r| %>
					<td>+<%= h.resistencia(r['nombre']) %></td>
				<% end%>
			</tr>
		</tbody>
	</table>
</div>