<% bc    = viewinfo(params[:view])[:bc] %>
<% title = view(params[:view])['title'] %>
<% if title == 'view' %>
	<% title = params[:param].capitalize %>
<% end %>

<% if bc.count > 1 %>
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				<%= title %>
			</h1>
			<ol class="breadcrumb">
				<% bc.each_with_index do |website, i| %>
					<% if (i+1) != bc.count %>
						<li><a href="/<%= website %>"><%= website.capitalize %></a></li>
					<% else %>
						<li class='active'><%= website.capitalize %></li>
					<% end %>
				<% end %>
			</ol>
		</div>
	</div>
<% end %>