.row
	.col-lg-12
		.col-lg-3.col-md-6
			.container

				.col-lg-3
					== slim :'layout/footer/heroquest'
				.col-lg-3
					== slim :'layout/footer/revengequest'

				.col-lg-3.col-md-6
					== slim :'layout/footer/amigas'

				.col-lg-3.col-md-6
					== slim :'layout/footer/contribute'

	.col-lg-12
		== slim :'layout/footer/policies'