<!-- Dynamic title -->
<title><%= title %></title>

<!-- Meta Information -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Website amateur de HeroQuest">
<meta name="author" content="Borja Martín">

<!-- Custom Hand-made CSS -->
<link href="/css/custom/bravo.css"	rel="stylesheet">

<!-- Footer CSS and fonts -->
<link href="/css/custom/footer.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">	

<!-- Modern Business CSS -->
<!-- (https://blackrockdigital.github.io/startbootstrap-modern-business/)-->
<link href="/css/modern-business.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<!-- Bootstrap Core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->