/!-- Dynamic title --
title = title

/!-- Meta Information --
meta charset="utf-8"
meta http-equiv="X-UA-Compatible" content="IE=edge"

meta name="viewport"     content="width=device-width, initial-scale=1.0"
meta name="description"  content="Página amateur de HeroQuest"
meta property="og:image" content="/images/logo.png"
meta name="author"       content="Borja Martín"

/!-- Custom Hand-made CSS --
link rel="stylesheet" href="/css/custom/bravo.css"
link rel="stylesheet" href="/css/custom/footer.css"

/!-- font CSS --
link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"

/!-- Modern Business CSS --
/!-- (https://blackrockdigital.github.io/startbootstrap-modern-business/)--
link rel="stylesheet" href="/css/modern-business.css"

/!-- Font awesome v.5 Fonts --
link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"

/!-- Bootstrap 4 Core CSS --
link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"

/!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries --
/!-- WARNING: Respond.js doesn't work if you view the page via file:// --

/[if IE]
	script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"
	script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"