/!-- Dynamic title --
title = title

/!-- Meta Information --
meta charset="utf-8"
meta http-equiv="X-UA-Compatible" content="IE=edge"

meta name="viewport"     content="width=device-width, initial-scale=1.0"
meta name="description"  content="Página amateur de HeroQuest"
meta property="og:image" content="/images/logo.png"
meta name="author"       content="Borja Martín"

/!-- Custom Hand-made CSS --
link rel="stylesheet" href="/css/custom/bravo.css"
link rel="stylesheet" href="/css/custom/footer.css"

/!-- font CSS --
link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"

/!-- Modern Business CSS --
/!-- (https://blackrockdigital.github.io/startbootstrap-modern-business/)--
link rel="stylesheet" href="/css/modern-business.css"

/!-- Font awesome v.5 Fonts --
script defer="true" src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"

/!-- Bootstrap 4 Core CSS --
link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"
/!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries --
/!-- WARNING: Respond.js doesn't work if you view the page via file:// --
script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"
script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"
script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"


/[if IE]
	script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"
	script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"
