<header>
	<h2>Lista de caminos</h2>
</header>
<a href=<%= '/caminos' %> class="img-responsive">
	<img src='/images/nav/caminos.png' alt='Caminos'/>
</a>
<a href='/caminos'><center>Lista de caminos actual</center></a>