<div class="card">
	<div class="card-header">
		<h4>La Forja</h4>
	</div>

	<a href='/objetos'>
		<img class="card-img-top" src="/images/nav/forja.png" alt="La Forja">
	</a>
	
	<div class="card-body">
		<p class="card-text">
			En la forja, los armeros del Imperio buscan la escelencia
			en la calidad de sus materiales. Algunos de los elementos,
			podrían no estar disponibles.
		</p>
	</div>

	<div class="list-group list-group-flush">
		<a class="list-group-item" href="/armas">Armas</a></li>
		<a class="list-group-item" href="/armaduras">Armaduras</a></li>
		<a class="list-group-item" href="/protecciones">Protecciones</a></li>
	</div>
</div>