<h2>La Forja</h2>
<hr>
<a href='/objetos'>
	<img src='/images/nav/forja.png' class="img-fluid" alt='La Forja'>
</a>

<div class="list-group">
	<a class="list-group-item" href="/armas">Armas</a></li>
	<a class="list-group-item" href="/armaduras">Armaduras</a></li>
	<a class="list-group-item" href="/protecciones">Protecciones</a></li>
</div>