<h2>La Forja</h2>

<a href='/objetos'>
	<img src='/images/nav/forja.png' class="img-responsive" alt='La Forja'/>
</a>

<div class="list-group text-left">
	
	<ul>
		<li class="list-group-item"><a href="/armas">Armas</a></li>
		<li class="list-group-item"><a href="/armaduras">Armaduras</a></li>
		<li class="list-group-item"><a href="/protecciones">Protecciones</a></li>
	</ul>
</div>