<div class="card">
	<div class="card-header">
		<h4>El Orfebre</h4>
	</div>

	<div class="card-body">
		<p class="card-text">
			Puede engarzar los objetos con ranuras, aportando así
			propiedades especiales al objeto. Revisa las tablas de engarces,
			para saber qué propiedad es conferida en cada tipo de objeto.
		</p>
	</div>

	<div class="list-group list-group-flush">
		<a class="list-group-item" href="/miscelaneas">
			<i class="fa fa-link fa-fw" aria-hidden="true"></i>
			Bisutería
		</a>
		<a class="list-group-item" href="/gemas">
			<i class="far fa-gem fa-fw" aria-hidden="true"></i>
			Gemas
		</a>
		<a class="list-group-item" href="/runas">
			<i class="fas fa-shekel-sign fa-fw" aria-hidden="true"></i>
			Runas
		</a>
		<a class="list-group-item" href="/joyas">
			<i class="fab fa-joomla fa-fw" aria-hidden="true"></i>
			Joyas
		</a>
		<a class="list-group-item" href="/tiers">
			<i class="fa fa-braille fa-fw" aria-hidden="true"></i>
			Tiers
		</a>
		<a class="list-group-item" href="/calculador">
			<i class="fa fa-calculator fa-fw" aria-hidden="true"></i>
			Calcular coste
		</a>
	</div>
</div>


<div class="list-group">

</div>