<h2>Las joyas</h2>
<hr>
<a href='/joyas'>
	<img src="/images/nav/joyas.png" alt='Joyas' class="img-fluid">
</a>
<p>
	Las joyas son piezas maestras de orfebrería que emiten un pulso arcano
	por sí mismas, canalizando la energía de los vientos de la magia.
</p>
<div class="list-group">
	<a class="list-group-item" href="/joyas">Joyas Básicas</a>
	<a class="list-group-item" href="/joyasespeciales">Joyas Insólitas</a>
	<a class="list-group-item" href="/profesion/orfebrería">Profesión: Orfebrería</a>
</div>