<div class="card">
	<div class="card-header">
		<h4>Las joyas</h4>
	</div>

	<a href="/joyas">
		<img class="card-img-top" src="/images/nav/joyas.png" alt="Joyas">
	</a>
	
	<div class="card-body">
		<p class="card-text">
			Las joyas son piezas maestras de orfebrería que emiten un pulso arcano
			por sí mismas, canalizando la energía de los vientos de la magia.
		</p>
	</div>
	
	<div class="list-group list-group-flush">
		<a class="list-group-item" href="/joyas">Joyas Básicas</a>
		<a class="list-group-item" href="/joyasespeciales">Joyas Insólitas</a>
		<a class="list-group-item" href="/profesion/orfebrería">Profesión: Orfebrería</a>
	</div>
</div>