<div class="card">
	<div class="card-header">
		<h4>Las Runas</h4>
	</div>

	<a href="/runas">
		<img class="card-img-top" src="/images/nav/forjandorunas.png" alt="Runas">
	</a>
	
	<div class="card-body">
		<p class="card-text">
			Las runas mágicas son diferentes en forma y detalle
			a las runas ordinarias, pero lo que convierte a una runa en mágica es
			principalmente cómo y cuándo fue grabada.
		</p>
	</div>
	
	<div class="list-group list-group-flush">
		<a class="list-group-item" href="/runas">Runas Básicas</a>
		<a class="list-group-item" href="/profesion/inscripción">Profesión: Inscripción</a>
		<a class="list-group-item" href="/pnj/cejohierro">El Maestro rúnico</a>
		<a class="list-group-item disabled" href="/runasmaestras">Runas Maestras</a>
		<a class="list-group-item disabled" href="/forja">Forjar runas</a>
		<a class="list-group-item" href="http://es.warhammerfantasy.wikia.com/wiki/Khazalid">Khazalid</a>
	</div>
</div>