<h2>Las Runas</h2>
<hr>
<a href='/runas' class="img-fluid">
	<img src='/images/nav/forjandorunas.png' alt='Las Runas' class="img-fluid">
</a>
<p>
	Las runas mágicas son diferentes en forma y detalle a las runas ordinarias,
	pero lo que convierte a una runa en mágica es principalmente cómo y cuándo fue grabada. 
</p>

<div class="list-group">
	<a class="list-group-item" href="/runas">Runas Básicas</a>
	<a class="list-group-item" href="/profesion/inscripción">Profesión: Inscripción</a>
	<a class="list-group-item" href="/pnj/cejohierro">El Maestro rúnico</a>
	<a class="list-group-item" href="/runasmaestras">Runas Maestras</a>
	<a class="list-group-item" href="/forja">Forjar runas</a>
	<a class="list-group-item" href="http://es.warhammerfantasy.wikia.com/wiki/Khazalid">Khazalid</a>
</div>