<h2>Las Runas</h2>
<hr>
<a href='/runas' class="img-fluid">
	<img src='/images/nav/forjandorunas.png' alt='Las Runas'/>
</a>
<p>
	Las runas mágicas son diferentes en forma y detalle a las runas ordinarias,
	pero lo que convierte a una runa en mágica es principalmente cómo y cuándo fue grabada. 
</p>

<div class="list-group text-left">
	<ul>
		<li class="list-group-item">
			<a href="/runas">Runas Básicas</a>
		</li>
		<li class="list-group-item">
			<a href="/profesion/inscripción">Profesión: Inscripción</a>
		</li>
		<li class="list-group-item">
			<a href="/pnj/cejohierro">El Maestro rúnico</a>
		</li>
		<li class="list-group-item">
			<a href="/runasmaestras">Runas Maestras</a>
		</li>
		<li class="list-group-item">
			<a href="/forja">Forjar runas</a>
		</li>
		<li class="list-group-item">
			<a href="http://es.warhammerfantasy.wikia.com/wiki/Khazalid">Khazalid</a>
		</li>
	</ul>
</div>