| Cualquier elfo es mejor tirador que el mas hábil arquero humano 
| pero solo los arqueros elfos pueden considerarse tiradores de verdad entre 
| sus semejantes. Su increíble visión élfica les permite alcanzar a 
| sus objetivos a grandes distancias y devastarles desde la retaguardia.