| Entre las sombras acecha el peligro.
|  Sutiles, mortales, especialistas en el
|  combate desigual, basan su estrategia en
|  no esperar el contragolpe de sus enemigos.
|  Matar al oponente es siempre la mejor defensa.
