| Fuerza, vigor y furia. Son los tres componentes básicos de todo 
| bárbaro bersérker. Armados con grandes y pesadas armas, los bersérkers 
| aniquilan las filas enemigas con un solo vaivén de su filo. 
| Nada reconforta más que partir en dos al rival. ¡Muere!