| Dicen que para derrotar al enemigo primero tienes que conocerlo. 
| Este es el trabajo de los brujos quienes emplean las artes oscuras 
| para causar estragos entre sus enemigos. Pero cuidado, a veces 
| no distinguen amigo de enemigo. Advertidos estáis.