| Aparecer sin ser visto y desaparecer sin dejar testigos. 
| Los tieflings caminantes infunden de esta manera terror en forma de muerte 
| entre las filas enemigas quienes no saben lo que ocurre hasta que sus cuellos 
| son rebanados con sigilo.