| Conocidos como las ratas de biblioteca, los conjuradores, poseen conocimientos 
| de multitud de hechizos y son capaces de desatar la furia de los elementos 
| para devastar en el campo de batalla. No necesitas defenderte de algo que ya 
| está muerto.