| Animados con magia de protección los
|  custodios tienen como propósito el
|  defender los intereses de su creador.
|  Dotados de increíble fortaleza física, 
|  pondrán en riesgo su existencia para
|  cumplir con su objetivo.