| Cuando la perversión y las mentiras recorren las calles,
|  los daeva siempre están presentes. No obstante, estos elohim
|  tienen la función más siniestra de la creación; recordar
|  la fragilidad de la sangre y el respeto a la muerte.
