| Ciertos elfos consiguen armonizar sus espíritus con 
| las criaturas que habitan los bosques. Este es el caso de 
| los druidas quienes mediante el uso de magia pueden 
| adaptarse a cualquier situación.