| Tan solo una mirada de la gorgona y
|  hasta los más fieros aventureros se
|  volverán fríos como la piedra.
|  Las gorgonas siembran el caos
|  serpenteando entre las sombras y 
|  quitando el aliento con la ayuda
|  de la magia del mar.