| Los niños prodigio de la magia, o hechiceros, pueden repetir una y otra 
| vez sus hechizos favoritos, los cuales dominan a la perfección, para imponer 
| la magia como principal arma en la guerra. Desatar su ira supone daños 
| irreparables entre las filas enemigas.