| Guerrero tenaz que se presenta en la vanguardia armado con su escudo 
| y su lanza y dispuesto a dar la vida por sus compañeros. El hoplita es 
| capaz de trinchar enemigos dejando un reguero de muerte 
| y destrucción a su paso. Discutir sobre estrategia con un bárbaro carece 
| de sentido.