| Estos gigantes provienen del mundo de las sombras, la niebla y el hielo. 
| Conocen los secretos de la muerte y conjuran la escarcha negra para lograr 
| sus misteriosos objetivos siniestros. Aunque su fortaleza física 
| es envidiable, sus artes oscuras suelen situarles al margen de la contienda. 
