| Los invocadores energizan a sus elementales invocados con magia para adaptarse 
| a cada situación. 
| Si hay algo mas poderoso que un mago calcinando a sus enemigos 
| es ver a una de sus invocaciones calcinando con su propio cuerpo ardiente. 