| Durante siglos el Templo de la Niebla
|  ha sido testigo de cómo grandes luchadores
|  se han formado entre sus muros.
|  Así pues, el púgil nace de la fusión de
|  puño y mente, entrenados ambos para 
|  lograr restaurar el equilibrio.