| Los gigantes de lava tienen un corazón ardiente que ruge con la furia 
| del volcán del que provienen sus cuerpos. Forjados en el Muspelheim con 
| el único deseo de provocar el Ragnarok, son titanes poderosos 
| especializados en causar grandes cantidades de daño. 
