| Los gigantes de las islas han tenido que luchar contra la mácula de los 
| demonios durante siglos. Su magia proviene de las profundidades del océano 
| y el Antiguo Dios que mora en ellas. Polivalentes, pueden aguantar grandes 
| cantidades de daño e invocar terribles tentáculos espirituales como arma.
