| Tras realizar pactos de sangre con los animales, el señor de las bestias 
| llama a sus compañeros para combatir codo con codo junto a ellos y 
| lanzarse así ferozmente al ataque. Los enemigos huyen despavoridos cuando 
| ven llegar al bárbaro rodeado por su manada.