| El dominio de la niebla requiere un
|  entrenamiento físico-mental abrumador.
|  Los maestros tejedores se caracterizan
|  por exprimir su estilo zen y canalizarlo
|  para sanar al mundo a través de redes
|  de niebla.