| El norte no hospeda a los débiles.
|  Las valquirias propagan este mensaje
|  con su presencia combativa. Armadas con lanzas,
|  arcos y el poder del trueno derrotan a sus enemigos
|  en una búsqueda perpetua de gloria.
