<div class="col-sm-3">
	<%= erb :'ficha/izquierda/izquierda' %>
</div>
<div class="col-sm-6">
	<%= erb :'ficha/centro/jugador' %>
	<%= erb :'ficha/centro/lore' %>
</div>
<div class="col-sm-3">
	<%= erb :'ficha/derecha/derecha' %>
</div>