<div class="col-sm-3">
	<%= erb :'ficha/izquierda/izquierda' %>
</div>
<div class="col-sm-9">
	<%= erb :'ficha/centro/jugador' %>
	<%= erb :'ficha/centro/combate' %>
	<%= erb :'ficha/centro/resistencias' %>
</div>