<div class="col-sm-3">
	<%= erb :'ficha/izquierda/izquierda' %>
</div>
<div class="col-sm-6">
	<h3>Ficha del personaje</h3>
	<%= erb :'ficha/centro/jugador' %>
	<h3>Resistencias</h3>
	<%= erb :'ficha/centro/resistencias' %>
</div>
<div class="col-sm-3">
	<%= erb :'ficha/centro/combate' %>
</div>