<ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
	<li class="nav-item">
		<a class="nav-link active"
			 id="stats-tab" href="#stats" aria-controls="stats"
			 data-toggle="tab" role="tab" aria-selected="true">
			<i class="fas fa-address-card fa-fw"></i>
			Estadísticas
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link"
			 id="lore-tab" href="#lore" aria-controls="lore"
			 data-toggle="tab" role="tab" aria-selected="false">
			<i class="fab fa-readme fa-fw"></i>
			Lore
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link"
			 id="inv-tab" href="#inv" aria-controls="inv"
			 data-toggle="tab" role="tab" aria-selected="false">
			<i class="fas fa-shield-alt fa-fw"></i>
			Inventario
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link"
			 id="habs-tab" href="#habs" aria-controls="habs"
			 data-toggle="tab" role="tab" aria-selected="false">
			<i class="fa fa-server fa-fw"></i>
			Habilidades
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link"
			 id="learn-tab" href="#learn" aria-controls="learn"
			 data-toggle="tab" role="tab" aria-selected="false">
			<i class="fas fa-graduation-cap fa-fw"></i>
			Aprendizajes
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link"
			 id="magia-tab" href="#magia" aria-controls="magia"
			 data-toggle="tab" role="tab" aria-selected="false">
			<i class="fas fa-magic"></i>
			Magia
		</a>
	</li>
</ul>