<% criaturas.each do |criatura| %>
	<div class="col-md-4 col-sm-6">
		<h2 class='text-center'><%= criatura %></h2>	
		<a href="/criatura/<%= criatura %>">
			<img src="/images/criaturas/<%= criatura %>.png"
					 alt="<%= criatura %>"
					 class="img-responsive" />
		</a>
	</div>
<% end %>