<div class="card-columns">
	<% criaturas.each do |criatura| %>
		<div class="card">
			<h2 class="card-title"><%= criatura %></h2>	
			<a href="/criatura/<%= criatura %>">
				<img src="/images/criaturas/<%= criatura %>.png"
						 alt="<%= criatura %>" class="card-img-top">
			</a>
		</div>
	<% end %>
</div>