<h2>Habilidades Base</h2>
<p>
	Son las hablidades con las que cada personaje comienza en nivel 1.
	Puedes consultar esta tabla de referencia para conocer las habilidades
	de tu personaje favorito:
</p>
<%= slim :'personajes/habilidades/base' %>