<h2>Nivel de un personaje</h2>

<h3>Consideraciones básicas</h3>
<p>
	El nivel de un personaje representa de forma genérica su capacidad general.
	La suma de niveles de los personajes determinará la dificultad del Reto.
	Sin embargo, se recomienda que la diferencia entre niveles de los
	personajes de los jugadores de la partida, nunca sea superior a 4.
</p>
<p>
	En caso de morir durante el Reto, un jugador cuyo personaje tenga descendencia
	puede utilizar a su descendiente para "heredar" la ficha del progenitor.
	(Siempre que el equipo se pueda recuperar) El "heredero" será de un nivel
	menor que el progenitor. (Mínimo nivel 1)
</p>


<h3>Subir de nivel</h3>
<p>
	Todos los personajes recién creados comienzan en nivel 1, obteniendo un nivel
	adicional cada <strong>10 puntos de experiencia</strong>.
	Cuando un jugador alcanza nivel 2 con un personaje, debe decidir
	qué especialización jugará. 
<p>
	Al subir de nivel, todos los <a href="/personajes">personajes</a> podrán
	escoger 2 <a href="/habilidades">habilidades</a> de la lista de habilidades
	disponibles para su especialización:
</p>

<div class="table-responsive striped">
	<table class='table'>
		<thead>
			<tr>
				<th class="text-center">Nivel</th>
				<th class="text-center">Habilidades</th>
				<th class="text-center">Atributos</th>
				<th class="text-center">Beneficios</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Básicas</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>2</td>
				<td>+2</td>
				<td></td>
				<td>Elige una especialización</td>
			</tr>
			<tr>
				<td>3</td>
				<td>+2</td>
				<td>+1</td>
				<td></td>
			</tr>
			<tr>
				<td>4</td>
				<td>+2</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>5</td>
				<td>+2</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>6</td>
				<td>+2</td>
				<td>+1</td>
				<td>Se puede escoger Gloria del héroe</td>
			</tr>
			<tr>
				<td>7</td>
				<td>+2</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>8</td>
				<td>+2</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>9</td>
				<td>+2</td>
				<td>+1</td>
				<td></td>
			</tr>
			<tr>
				<td>10</td>
				<td>+1 definitiva</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>11</td>
				<td>+2</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>12</td>
				<td>+2</td>
				<td>+1</td>
				<td>Se puede escoger Gloria del héroe</td>
			</tr>
			<tr>
				<td>13</td>
				<td></td>
				<td></td>
				<td>+2 habilidades</td>
			</tr>
			<tr>
				<td>14</td>
				<td>+2</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>15</td>
				<td>+2</td>
				<td>+1</td>
				<td></td>
			</tr>
			<tr>
				<td>16</td>
				<td>+2</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>17</td>
				<td>+2</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>18</td>
				<td>+2</td>
				<td>+1</td>
				<td>Se puede escoger Gloria del héroe</td>
			</tr>
			<tr>
				<td>19</td>
				<td>+2</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>20</td>
				<td>+1 definitiva</td>
				<td></td>
				<td>+Nivel máximo. Los XP serán 100 piezas de oro.</td>
			</tr>
		</tbody>
	</table>
</div>