<h2>El Reglamento</h2>
<hr>

<div class="alert alert-warning alert-dismissible fade show" role="alert">
	<h4 class="alert-heading">
		<i class="fas fa-gavel"></i> La norma de oro
	</h4>
	El <strong>Malvado Brujo</strong> siempre tiene la última palabra.
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<%= slim :'manuales/principal/combatir' %>
<%= slim :'manuales/principal/buscar' %>
<%= slim :'manuales/principal/personaje' %>