<h2>El Reglamento</h2>

<h3>La norma de oro</h3>
<p>
	El Malvado Brujo siempre tiene la última palabra.
</p>

<%= slim :'manuales/principal/combatir' %>
<%= slim :'manuales/principal/buscar' %>
<%= slim :'manuales/principal/personaje' %>