<!-- Buscador de Personajes -->
<div class="well">
	<form action="/buscar" method="POST">
		<div class="input-group">

			<!-- Selector del criterio de búsqueda -->
			<select name="criteria">
			  <option value="heroe">Héroes</option>
			  <option value="jugador">Jugadores</option>
			  <option value="raza">Raza</option>
			  <option value="mascota">Familiar</option>
			</select>

			<!-- Texto y submit -->
			<input type="text" name="nombre">
			<input type="submit" value="buscar">
		</div>
	</form>
</div>