<%= slim :'heroes/busca_heroes' %>

<div class="table-responsive">
	<table class="table table-striped table-bordered table-hover table-sm">
		<thead class="thead-dark">
			<tr>
				<th>#</th>
				<th colspan=3>Héroe</th>
				<th>Nivel</th>
				<th><a href=/familiares>Familiar</a></th>
				<th><a href=/profesiones>Profesión</a></th>
				<th><a href=/armas>Armas</a></th>
				<th><a href=/armaduras>Armadura</a></th>
				<th>Reputación</th>
			</tr>
		</thead>

		<tbody>
			<% criterio = params['criteria'] ||= 'status' %>
			<% palabra  = params[:view] ||= params[:nombre].to_s.downcase  %>
			
			<% filter_heros(criterio, palabra).each_with_index do |hero,i| %>
				<%= erb :'heroes/hero', locals: { hero: hero, index: i } %>
			<% end %>
		</tbody>
	</table>
</div>