<h2>
	Listado de los <%= jugadores.count %> jugadores
	y sus <%= heros.count %> personajes
</h2>
<p>
	Los jugadores han sido ordenados por su puntuación de honor.
	Si alguno percibe que algún sumatorio es incorrecto, es posible
	que sea motivo de la magia oscura del Malvado Brujo. 
	Hemos de ser conscientes que el creador del universo ha de estar
	por encima de todos los seres. Ergo, Ignórese.
</p>
<%= slim :'heroes/honor/tabla' %>