<h2>Listas de Héroes</h2>
<hr>
<a href="/heroes">
	<img src='/images/nav/razas.png' alt='héroes' class="img-fluid">
</a>

<div class="list-group">
	<a class="list-group-item" href="/heroes">Activos</a>
	<a class="list-group-item" href="/ausentes">Ermitaños</a>
	<a class="list-group-item" href="/reservistas">Reservistas</a>
	<a class="list-group-item" href="/mapa">Extranjeros</a>
	<a class="list-group-item" href="/licenciados">Licenciados</a>
</div>
<hr>
<h3>Trasfondo</h3>
<div class="list-group">
	<a class="list-group-item" href="/jugadores">Lista de Jugadores</a>
	<a class="list-group-item" href="/historias">Historias de los héroes</a>
	<a class="list-group-item" href="/camino">Los caminos de un héroe</a>
	<a class="list-group-item" href="/familiares">Familiares (Mascotas)</a>
</div>