<h2>Listas de Héroes</h2>
<a href="/heroes">
	<img src='/images/nav/razas.png' alt='héroes' class="img-fluid">
</a>
<div class="list-group">
	<ul>
		<li class="list-group-item"><a href="/heroes">Activos</a></li>
		<li class="list-group-item"><a href="/ausentes">Ermitaños</a></li>
		<li class="list-group-item"><a href="/reservistas">Reservistas</a></li>
		<li class="list-group-item"><a href="/mapa">Extranjeros</a></li>
		<li class="list-group-item"><a href="/licenciados">Licenciados</a></li>
	</ul>
</div>
<h2>Trasfondo</h2>
<div class="list-group">
	<ul>
		<li class="list-group-item"><a href="/jugadores">Lista de Jugadores</a></li>
		<li class="list-group-item"><a href="/historias">Historias de los héroes</a></li>
		<li class="list-group-item"><a href="/camino">Los caminos de un héroe</a></li>
		<li class="list-group-item"><a href="/familiares">Familiares (Mascotas)</a></li>
	</ul>
</div>