<div class="card">
	<div class="card-header">
		<h4>Listas de Héroes</h4>
	</div>
	<a href="/heroes">
		<img src='/images/nav/razas.png' alt='héroes' class="card-img-top">
	</a>

	<div class="list-group list-group-flush">
		<a class="list-group-item" href="/heroes">Activos</a>
		<a class="list-group-item" href="/ausentes">Ermitaños</a>
		<a class="list-group-item" href="/reservistas">Reservistas</a>
		<a class="list-group-item" href="/mapa">Extranjeros</a>
		<a class="list-group-item" href="/licenciados">Licenciados</a>
	</div>

	<div class="card-body">
		<h5 class="card-title mb-0">Trasfondo</h5>
	</div>

	<div class="list-group list-group-flush">
		<a class="list-group-item" href="/jugadores">Lista de Jugadores</a>
		<a class="list-group-item" href="/historias/1">Certamen de historias</a>
		<a class="list-group-item" href="/camino">Caminos de un héroe</a>
		<a class="list-group-item" href="/familiares">Familiares</a>
	</div>
</div>
