<h2>Habilidades Base</h2>
<hr>
<p>
	Son las hablidades con las que cada personaje comienza en nivel 1.
	Las <strong>habilidades base</strong> pueden variar según el
	<a href="/clanes">clan del personaje</a>.
	Puedes consultar esta tabla de referencia para conocer las habilidades
	de tu personaje favorito:
</p>
<%= slim :'personajes/habilidades/tablabase' %>