<h2>Reglas sobre las habilidades</h2>
<p>
	Si echas de menos el viejo casillero,	<a href='/habs'>haz click aquí</a>.
</p>

<h3>Definición</h3>
<p>
	Las habilidades representan poderes, rituales, entrenamientos y aptitudes
	que los héroes esgrimen durante la partida para obtener ventaja en el juego.
	Las tablas de habilidades corresponden a las diferentes especializaciones
	que los héroes pueden elegir. Un héroe, recién creado tendrá únicamente
	las habilidades inciales de su personaje. Sin embargo, en nivel 2, 
	debe elegir su especialización "desbloqueando" las habilidades
	que le correspondan, según su especialización.
	<a href='/personajes'>Pulsa aquí</a> para obtener
	más información sobre los personajes y las especializaciones.
</p>

<!-- Skill Tabs -->
<div class="row">
	<div class="col-lg-12">
			<h2 class="page-header">Tipos de habilidades</h2>
	</div>
	<div class="col-lg-12">

		<ul id="myTab" class="nav nav-tabs nav-justified">
				<li class="active">
					<a href="#mec" data-toggle="tab">
						<i class="fa fa-cogs" aria-hidden="true"></i>
						Por Mecánica
					</a>
				</li>
				<li class="">
					<a href="#adq" data-toggle="tab">
						<i class="fa fa-sitemap" aria-hidden="true"></i>
						Por Adquisición
					</a>
				</li>
		</ul>

		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade active in" id="mec">
				<h4>Por Mecánica</h4>
				<p><%= erb :'personajes/habilidades/tipos' %></p>
			</div>
			<div class="tab-pane fade" id="adq">
				<h4>Por Adquisición</h4>
				<p><%= erb :'personajes/habilidades/clases' %></p>
			</div>
		</div>

	</div>
</div>