
/* 
Displaying Info as original
*/
#icon {
  padding: 2px;
  height: 40px;
}
#icon2 {
  padding: 2px;
  height: 60px;
}
#icon3 {
  padding: 2px;
  height: 80px;
}
#icon4 {
  padding: 2px;
  height: 110px;
}
#portrait {
  padding: 2px;
  height: 321px;
}

div.information_popup_container {
  /* Position Information */
  /* Appearance Information */
}
div.information_popup_container > div.information {
  /* Position Information */
  /* Appearance Information */
}
div.information_popup_container > div.popup_information {
  position:   absolute;
  visibility: hidden;
  line-height: 20px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size:   14px;
  color: #CBCBCB;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #222;
  padding: 1em 2em 1em 2em;
  text-align: left;
  /* Position Information */
  /* Appearance Information */
}
div.information_popup_container > div.information:hover + div.popup_information {
  visibility: visible;
  z-index: 200;
}

/* 
Generic Styling, for Desktops/Laptops 
*/
.table-responsive .table th, .table-responsive .table td { 
  vertical-align: middle;
}

