<p>
	Geográficamente, está limitado por el Gran Océano tanto al Oeste como el Sur, 
	y el Rio Sangre es la frontera que separa los Reinos Fronterizos de las Tierras Yermas. 
	Al Norte la frontera se encuentra con el Territorio Troll,
	y sus fronteras orientales son delineadas por las Montañas del Fin del Mundo. 
</p>