<div class="mapa_imagen">
	<link rel="stylesheet" href="/css/custom/map.css" />
	<img src="/images/mapa.png" class='mapamundi'>
	<ul class="notas">
		<li class="nota1"><p>El Gran Lago</p></li>
		<li class="nota2"><p>La temible costa de los piratas</p></li>
		<li class="nota3"><p>Altdorf, capital del Imperio</p></li>
		<li class="nota4"><p>El Desierto prohibido</p></li>	
		<% cities.each do |c| %>
		<a href='/city/<%= c['name'] %>'>
			<li style='<%= c['style'] %>'>
				<p><%= c['name'] %></p>
			</li>
		</a>
		<% end %>
	</ul>
</div>