<p>
	Los principales reinos humanos del Viejo Mundo son el Imperio, Bretonia y Kislev. 
	Al sur se encuentran los reinos de Estalia y las ciudades-estado de Tilea, 
	los cuales carecen de una autoridad y un gobierno central, 
	así como una amalgama anárquica de pequeños reinos conocidos como los Reinos Fronterizos, 
	en las fronteras del sudeste del Viejo Mundo.
</p>
<p>
	Técnicamente Norsca no forma parte del Viejo Mundo, aunque comparte similitudes culturales con ella, 
	y está más cerca del viejo mundo en términos de distancia. 
	Lo mismo ocurre con la isla de Albión, que está frente a las costas del Viejo Mundo, 
	que no forma parte del Viejo Mundo pero no está completamente separada de él.
</p>
<p>
	El Viejo Mundo es también el hogar de otras razas, como los Enanos y los Elfos Silvanos.
	Dentro de los límites del Imperio es la zona administrada por Halflings conocida como la Asamblea.
</p>