<div class="row">

	<div class="col-md-4">
			<div class="panel panel-default">
				<%= erb :"inicio/lore/ciudad" %>
			</div>
	</div>

	<div class="col-md-4">
			<div class="panel panel-default">
				<%= erb :"inicio/lore/manuales" %>
			</div>
	</div>

	<div class="col-md-4">
			<div class="panel panel-default">
				<%= erb :"inicio/lore/ilustres" %>
			</div>
	</div>

</div>