<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			Web amateur del juego de mesa HeroQuest
		</h2>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="panel panel-default text-center">
			<div class="panel-heading">
				<a href="/magia">
					<img class="img-responsive img-hover"
							 src="/images/inicio/features/magia.png"
							 alt="Torre del Mago">
				</a>
			</div>
			<div class="panel-body">
				<h4>La Torre del Mago</h4>
				<p>
					En este apartado puedes consultar las listas de hechizos, 
					las diferentes escuelas de la magia
					o aprender sobre los enigmáticos Magisters.
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="panel panel-default text-center">
			<div class="panel-heading">
				<a href="/habilidades">
					<img class="img-responsive img-hover"
							 src="/images/inicio/features/habilidades.png"
							 alt="Habilidades">
				</a>
			</div>
			<div class="panel-body">
				<h4>Consulta tus habilidades</h4>
				<p>
					En la sección de reglamentos, puedes consultar
					las habilidades de cada clase de personaje,
					tirar dados de combate y tesoros.
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="panel panel-default text-center">
			<div class="panel-heading">
				<a href="/mapa">
					<img class="img-responsive img-hover"
							 src="/images/inicio/features/leyenda.png"
							 alt="Leyenda">
				</a>
			</div>
			<div class="panel-body">
				<h4>Descubre la leyenda</h4>
				<p>
					Todo lo que querías saber sobre el lore: historias de los personajes,
					mapa del mundo, bestiario de criaturas y personajes ilustres.
				 </p>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="panel panel-default text-center">
			<div class="panel-heading">
				<a href="/objetos">
					<img class="img-responsive img-hover"
							 src="/images/inicio/features/equipo.png"
							 alt="Leyenda">
				</a>
			</div>
			<div class="panel-body">
				<h4>Objetos y equipamiento</h4>
				<p>
					 La mayoría de héroes comprenden que deben ir 
					 bien pertrechados a la batalla. 
					 Descubre cuáles son los mejores objetos. 
				</p>
			</div>
		</div>
	</div>
</div>	